[2013-10-14 20:54] rojepp opened #1 "Wrong type being chosen for outer joined columns"
Example sql (schema is not important)

[code]

Location.Location_Id is an int, but since it is outer joined, it can be null. So I would expect the provided type to be int option, but it is int.

By the way, awesome work, keep it up!

[2013-10-15 23:18] #1 closed, assigned to dmitry-a-morozov

[2013-10-15 23:52] rojepp opened #2 "Provide a way to specify a file name instead of raw sql"
Having large chunks of Sql in code gets unwieldy, so it would be nice to be able to point to a file (root is project directory) instead.

[2013-10-16 00:20] rojepp opened #3 "Allow different connection string for run-time"
There is an option for having connection strings in *.config, but what if I want to connect to ten different servers using the same TP? In some cases, connection strings can only be provided in run-time.

Even if they were in config only, I would not want to have ten different types for ten different databases and/or servers.

Suggestion is to have a property for it in the provided type's construc

[2013-10-16 07:31] rojepp opened #4 "Nullable columns not working"
The TP has correctly determined that my nullable column should be Option<int>,
but when reading a NULL value from the database at run-time, there is an error message saying `Object of type 'System.DBNull' cannot be converted to type 'System.Int32'.`.

Same error for both Tuples and Record types.

[2013-10-16 17:25] #4 closed, assigned to nobody

[2013-10-17 18:38] rojepp opened #5 "Provide Synchronous Execute()"
This gets old pretty quickly when you don't care about Async:

[code]

I suggest following standard .Net practice, providing sync method without suffix, and async method with 'Async' suffix. This would mean `Execute()` and `ExecuteAsync()`.
The implementation of `Execute()` could basically just do `this.ExecuteAsync() |> Async.RunSynchronously`. Possibly more familiar, and the code above gets slig

[2013-10-22 03:42] #5 closed, assigned to nobody

[2013-10-22 14:04] dmitry-a-morozov opened #9 "convert column values to Option<_> not via reflection."
Right now QuotationsFactory.GetRows uses reflection to convert column value to instance of Option type.
...
if isNullableColumn.[i]
then
    let t = typedefof<_ option>.MakeGenericType(Type.GetType columnTypes.[i])
    row.[i] <-  if reader.IsDBNull(i) || row.[i] = null
                then t.GetProperty("None").GetValue(null, [||])
                else t.GetMethod("Some").Invoke(null, [| row.[i]

[2013-10-22 14:15] #3 closed, assigned to nobody

[2013-10-22 16:35] #2 closed, assigned to nobody

[2013-10-22 18:15] rojepp opened #10 "File change notification"
The ability to have Sql live in external files has been added, which is great. Now change notification is needed. The scenario is that I'm editing my external sql file and save it. Immediately upon saving the file, the generated types should be updated, compile errors should pop up in code where Record field names have changed for instance.

The background compilation that happens when you edit th

[2013-10-22 18:23] rojepp opened #11 "Generated types"
Just to get a conversation started..

It would be nice if types could be generated instead of erased. This would enable use from C#. I have never made a generated type, so I have no idea how much work would be involved.

[2013-10-23 04:44] #9 closed, assigned to nobody

[2013-10-24 20:37] #10 closed, assigned to nobody

[2013-10-25 12:23] rojepp opened #12 "File system watchers are never disposed"
Same issue as this: https://github.com/fsharp/fsharpx/issues/268

The TypeProvider should implement IDisposable.

[2013-10-25 14:48] #12 closed, assigned to nobody

[2013-10-26 02:57] jackfoxy opened #13 "undeclared parameter cannot be used more than once"
It appears you cannot use the same parameter more than once.

Comment out the second occurence:

    --OR city LIKE @startsWith

and it builds.

Error	6	The type provider 'FSharp.Data.SqlClient.SqlCommandTypeProvider' reported an error: The undeclared parameter '@startsWith' is used more than once in the batch being analyzed.

    [<Literal>]
    let sqlCityCounty = @"
                    SELECT D

[2013-10-26 20:27] dmitry-a-morozov opened #15 "support asyncSeq or IAsyncEnumerator"
http://tomasp.net/blog/async-sequences.aspx/
or
http://github.com/Reactive-Extensions/Rx.NET/blob/master/Ix.NET/Source/System.Interactive.Async/IAsyncEnumerator.cs

[2013-10-26 20:31] dmitry-a-morozov opened #16 ".NET 4.5 optimized version"
The .NET 4.5 specific version can leverage BCL built-it support for async ops (ExecuteNonQueryAsync, ExecuteReaderAsync) including not available on .NET 4 connection.OpenAsync(). Also sqlDataReader.ReadAsync() (issue #15)

[2013-10-27 02:34] jackfoxy opened #17 "remembering connection string from design/build time, not using runtime"
The connection string from design/build time is compiled into the TP, and it does not the recognize a runtime connection string. Proof is remove connectionStrings section from runtime config file and it still works (Windows console app).

[2013-10-27 03:25] #17 closed, assigned to nobody

[2013-10-27 20:07] jackfoxy opened #20 "tinyint with null"
My implementation uses SQL 2012 to build the types, and SQL 2008 R2 at runtime, so that may play a role in this issue.

If you have a column defined myBool (tinyint, null), selecting it in sql used to build a type appears to cause no problem at design time

[code]

but at run time it throws in a way that does not propagate the error back up to the application.

[2013-10-27 20:15] rojepp opened #21 "Partial support for non-2012 sql"
Sql < 2012 could be partially supported.
The format of the output can use `set fmtonly on` instead of `sys.sp_describe_first_result_set`. The tricky part is with replacing `sys.sp_describe_undeclared_parameters`

They could be read the same way as today, and if that fails, we could fall back to parsing them somehow. When parsing, we can not provide types for them, so in the fall-back case, they wo

[2013-10-28 02:58] #20 closed, assigned to nobody

[2013-11-01 14:39] dmitry-a-morozov opened #23 "Support TVP"
Not high priority but would be fun

[2013-11-05 03:50] jackfoxy opened #25 "INFORMATION_SCHEMA view returns Option improperly"
Creating a type for

[code]

and with `ResultType.Records` improperly makes `IS_NULLABLE` and  `DATA_TYPE` Option and does not make `MAXIMUM_LENGTH` and `NUMERIC_PRECISION` Option when it should (the last 2 columns can return null).

[2013-11-05 12:46] dmitry-a-morozov opened #26 "Override ToString() for generated ResultType.Record."
Same output format as standard F# records. Convenient for debugging/testing.

[2013-11-06 06:53] jackfoxy opened #28 "Exception handling?"
Do I have to wrap every execution in Try/With?

[2013-11-09 00:43] #28 closed, assigned to nobody

[2013-11-09 04:39] #25 closed, assigned to nobody

[2013-11-13 10:52] vasily-kirichenko opened #29 "SqlCommand.Execute() keeps eating memory until it's fully traversed"
The followting code consumes ~1.6GB RAM. A raw ADO.NET version runs in constant ~50MB RAM.

[code]

The explicit Enumerator is used (in real code) for chunking and it's not the cause of the issue - the ADO.NET version uses it in the same way with no problem.

[2013-11-13 17:31] #29 closed, assigned to nobody

[2013-11-14 17:31] vasily-kirichenko opened #30 "Generate non-default constructors with all parameters as arguments"
[code]

[2013-11-14 17:45] rojepp opened #31 "Connection string is remembered at run-time"
I think it is pretty bad that the compile-time connection string is hard-coded into the assembly. It is too easy to leak sensitive info this way.

My first though about this is to make connectionString/connectionName non-optional.

[2013-11-15 06:54] #31 closed, assigned to nobody

[2013-11-16 13:48] #23 closed, assigned to nobody

[2013-11-16 13:52] #26 closed, assigned to nobody

[2013-11-24 17:32] #30 closed, assigned to nobody

[2013-11-27 06:38] vasily-kirichenko opened #32 "Add support for untyped IDataReader"
Since SQL Server cannot infer result type for non-trivial SPs/queries, I suggest to add support for untyped `IDataReader/IDataRecord`, like https://github.com/mausch/FsSql does. The idea is to wrap `IDataRecord` into a new object (`DictDataRecord` in FsSql https://github.com/mausch/FsSql/blob/master/FsSql/DictDataRecord.fs#L15) that converts `DBNull`s to `Options` and allows to pull values of indi

[2013-12-02 19:28] #32 closed, assigned to nobody

[2013-12-11 14:26] danielrbradley opened #34 "Inferred reference types assumed to be non-nullable"
When a SQL type parameter maps to a .NET reference type it is assumed by the type provider that the parameter cannot be null. However, there may be scenarios where a nullable integer or bit value may want to be passed into a SQL script. I can't currently see a way of achieving this.

It would be a neat feature if we could switch the type provider to assume that parameters are all nullable somehow.

[2014-01-15 15:44] dmitry-a-morozov opened #35 "Lazy ctor generation sometimes causes misleading error messages"
Because ctor is lazily generated in case of mistake in SQL script user sees "ctor for type ... is not defined" instead of meaningful error message from sys.sp_describe_undeclared_parameters.

[2014-01-15 15:58] #35 closed, assigned to nobody

[2014-01-15 19:07] dmitry-a-morozov opened #36 "Default parameter value support for stored procedures"

[2014-01-18 02:57] jackfoxy opened #37 "does not find Azure connection string when in library of Web API app"
Using Web API app derived from Dan Mohl's F# MVC5 template.

When SqlCommand compiled in main application (using App.config for connection string for local execution), it works locally and it works on an Azure website.

When SqlCommand compiled in a library project in the Solution (using App.config in the library project for connection string for local execution), it works locally, but on Azure it

[2014-01-18 17:48] jackfoxy opened #38 "optional parameter for CLIMutable record result"
Might not be possible, but this would take advantage of the built-in serialization of MVC5 Web Api template apps to emit JSON in REST responses that has record value labels as well as the value. Currently the emitted JSON from a SqlCmd record type only has the value.

My current work-around involves creating a CLIMutable record type exactly like the type emitted by SqlCmd and copying over the valu

[2014-01-18 20:16] #34 closed, assigned to nobody

[2014-01-20 17:57] #38 closed, assigned to nobody

[2014-01-21 01:37] #37 closed, assigned to nobody

[2014-01-28 00:16] dmitry-a-morozov opened #39 "Simplify config file-based connection string configuration"
Currently SqlCommanProvider allows to configure connection string in similar way as built-in SqlDataConnection or SqlEntityConnection providers:
 1) via ConnectionString parameter supplying connection string literal
 2) via ConnectionStringName parameter providing name of connection string from config file.
Initially I liked this design better that Entity Framework version where single parameter t

[2014-01-29 15:53] dmitry-a-morozov opened #40 "run-time connection string configuration for multiple data sources"
In typical, most beneficial setting SqlCommandProvider coupled with intense T-SQL data access layer. It leads to numerous SqlCommand<...> declarations in application code base.

[code]

Of course run-time database connection is different from design time. A one way to have different design-time/run-time connection string is to use config file see issue #39. At same time factory pattern has to be s

[2014-01-30 22:08] #39 closed, assigned to nobody

[2014-01-30 22:11] #40 closed, assigned to nobody

[2014-01-31 15:44] ghost opened #41 "Remove "Experimental" in name"
I think this provider now qualifies to have "Experimental" removed.

[2014-02-07 15:20] danielrbradley opened #42 "Implement synchronous execute without calling async implementation"
Pretty low priority issue, but might want to be considered before the project graduates its experimental naming ...
## Question

Can the implementation of the synchronous "Execute" method be implemented as a first-class citizen, rather than by calling Async.RunSynchronously of the "AsyncExecute" implementation?
## Example Scenario

When working with an existing synchronous stack which uses Transac

[2014-02-13 17:24] vasily-kirichenko opened #44 "Programmability TP API suggestions"
I suggest to replace ``Stored Procedures`` with simple `Procedures`.
Also, I think it'd be better if we separate schemas from SPs names. I mean, instead of:

[code]

we can write:

[code]

As an extra benefit, it would give us better performance, because we could load schema names first, then only SPs names belonging to a particular schema.
As it is for now it takes significant time to load all th

[2014-02-14 20:33] dmitry-a-morozov opened #45 "Add xml help docs"
We should add something similar to

https://github.com/fsprojects/SQLProvider/blob/master/src/SQLProvider/SqlDesignTime.fs#L298
or
https://github.com/fsprojects/FSharp.Management/blob/master/src/FSharp.Management.WMI.DesignTime/WmiProvider.DesignTime.fs#L441

to both SqlCommandProvider and SqlProgrammabilityProvider.

[2014-02-16 23:24] #45 closed, assigned to nobody

[2014-02-24 02:52] dsevastianov opened #46 "How useful it will be to support spatial types in early releases?"
http://blogs.msdn.com/b/adonet/archive/2013/12/09/microsoft-sqlserver-types-nuget-package-spatial-on-azure.aspx

https://www.nuget.org/packages/Microsoft.SqlServer.Types/

[2014-02-27 07:25] vasily-kirichenko opened #47 "[SqlProgrammability] Property is not generated for SPs which has no result set, but output params only"
The following SP is not appear as property of generated type:

[code]

This is the showstopper for my team.

[2014-02-28 17:45] #42 closed, assigned to dsevastianov

[2014-03-01 00:05] #46 closed, assigned to dsevastianov

[2014-03-04 00:57] #47 closed, assigned to dsevastianov

[2014-03-04 00:59] #44 closed, assigned to nobody

[2014-03-06 08:27] vasily-kirichenko opened #48 "[SqlProgrammability] Connection string passed to the constructor is not used"
[code]

[2014-03-07 02:04] #48 closed, assigned to nobody

[2014-03-07 23:33] #36 closed, assigned to dsevastianov

[2014-03-12 18:08] #41 closed, assigned to dsevastianov

[2014-03-12 18:46] rojepp opened #49 "No longer mono compatible"
I'm guessing mono doesn't implement `Microsoft.SqlServer.Server.SqlDataRecord` ?

[2014-03-12 21:58] #21 closed, assigned to nobody

[2014-03-14 21:41] rojepp opened #50 "Only compatible with F# 3.1"
Compiling with F# 3.0 works, but running the project I get

[code]

[2014-03-14 22:10] #50 closed, assigned to nobody

[2014-03-30 20:09] dmitry-a-morozov opened #51 "base runtime type for Record"
New base time-type should cover following requirements:
1) Value equality
2) JSON.NET 2-way serialization
3) ToString same as F# records (special attention to option fields. Print 'None' not null).
4) "With" method to transform/"mutate" properties. Similar to built-in with syntax for F# records
5) dynamic lookup operator (read only)

[2014-03-30 23:15] dmitry-a-morozov opened #52 "use option type of ref type optional params"
Currently for SqlCommandProvider when "AllParametersOptional = true" parameters of ref .NET types (like string) are not wrapped into the option type.

[2014-03-31 14:33] #52 closed, assigned to nobody

[2014-04-03 22:46] #51 closed, assigned to dsevastianov

[2014-04-12 23:57] dmitry-a-morozov opened #53 "start Record.With method param names with lower case"

[2014-04-13 22:20] #53 closed, assigned to dsevastianov

[2014-04-16 06:26] vasily-kirichenko opened #54 "[SqlProgrammability] Bit parameters with default values cause design time exception"
[code]

[code]

The last line is not compiled:

The type provider 'FSharp.Data.SqlProgrammabilityProvider' reported an error: String was not recognized as a valid Boolean.

If I remove `= 1`, everything works OK.

[2014-04-16 14:57] #54 closed, assigned to dsevastianov

[2014-04-22 08:35] unuunc opened #55 "FSharp.Data.SqlCommandProvider throws error if statement/proc uses temp table"
I have a stored procedure which uses temp tables when i try to execute that I get following error
"The type provider 'FSharp.Data.SqlCommandProvider' reported an error: The metadata could not be determined because statement ... uses a temp table."

[2014-04-23 13:00] #55 closed, assigned to nobody

[2014-04-29 21:07] dmitry-a-morozov opened #56 "Make SqlCommand base runtime type implement IDisposable"

[2014-05-04 03:35] #49 closed, assigned to nobody

[2014-05-05 16:34] #56 closed, assigned to nobody

[2014-05-07 04:33] panesofglass opened #57 ".With doesn't appear to correctly update the value"
[code]

When I run this, the dates remain unchanged.

[2014-05-07 16:57] #57 closed, assigned to dsevastianov

[2014-05-08 16:28] dmitry-a-morozov opened #58 "ToTraceString method"
Add ToTraceString instance method that accepts same parameters as AsyncExecute/Execute to return the sql script to be executed against the database.

[2014-05-13 22:33] jackfoxy opened #59 "Identify type's namespace in tooltip"
The pop-up tooltip does not identify the namespace SqlClient types are defined in. Since "go to definition" on the type does not work in VS, the only way to get to the definition is a  text search.

[2014-05-14 18:03] #58 closed, assigned to nobody

[2014-05-28 17:35] schneidenbach opened #60 "Support SQL Server 2008"
Would be nice to support a slightly older version of SQL.  Not sure how easy it is to replicate things such as sp_describe_undeclared_parameters.

[2014-06-02 13:23] #60 closed, assigned to nobody

[2014-06-02 13:51] dsevastianov opened #61 "Target scenarios for generated types"
Just trying to re-phrase #11 and flash out real-life use cases which would make it worth  replacing provided types with generated. These use cases might include C# compatibility (or, rather more idiomatic support) and related scenarios, and so on.

So far, the only meaningful scenario I see is DAL layer written in F#.
 This scenario would require:
- Output records to be C#-compatible:
  - simple n

[2014-06-07 16:54] dmitry-a-morozov opened #62 "ResolutionFolder param for SqlProgrammability"

[2014-06-09 13:55] #61 closed, assigned to nobody

[2014-06-15 19:28] #62 closed, assigned to nobody

[2014-07-15 13:49] micahasmith opened #63 "Question-- Should I Manage The Connection Separately?"
All of the examples show an auto opening connection. Should i manage the connection myself separately or does it auto open/close with each command?

Thanks!

[2014-07-16 01:05] #63 closed, assigned to nobody

[2014-07-22 22:12] philderbeast opened #64 "Separate app.config resolution from the resolution folder for *.sql query files."
It doesn't seem possible to have the app.config in one folder and the *.sql queries in another folder.

[code]

When I have the above setup it is looking in the sqlFolder for the app.config. I can get the type provider to compile if I copy the app.config with the connection string from the root of my project to the sqlFolder.

[2014-07-25 18:32] panesofglass opened #65 "Provide types with measures"
Would be nice to be able to generate types that include units assigned. I imagine this could apply by convention or by explicitly indicating the name of the column containing the unit name, e.g. "m", "m/s", etc. At present, if you want to use types with assigned units, you have to define the measure types and the target types, then map the data from `SqlCommandProvider`'s types into the target typ

[2014-07-29 22:07] panesofglass opened #66 ".With member fails with option types"
I got a `NullReferenceException` today when trying to use `.With` in the following manner:

[code]

When `record.endDate` was `None`, I received a `NullReferenceException` at run time inside the `.With` call. The `let`-bound assignment to `endDate` seemed to go fine.

[2014-08-04 23:27] latkin opened #67 "Nullref attempting to use sprocs from AdventureWorks DB"
I tried to follow the stored procedure example from the homepage, but encountered errors.

[code]

When I compile above, I get this error:

[code]

In the editor, I get expected intellisense into the `Sproc` type, with completion lists all the way up to and including `dbo.uspGetWhereUsedProductID`, but after that no suggestions appear for `Execute` or `AsyncExecute`.  I get red squiggles under `As

[2014-08-13 03:16] #66 closed, assigned to nobody

[2014-08-13 03:17] #64 closed, assigned to nobody

[2014-08-27 22:32] isaacabraham opened #68 "Nullable column with SingleRow gives Option<Option<T>>"
If you have a nullable column in the DB and SELECT it with SingleRow = true (assuming you have the appropriate WHERE clause), you get back an Option Option T.

The first Option can be used to determine if the appropriate row was located; the second shows if the column has a value. However, there are times when this distinction is irrelevant and if either the row doesn't exist or the value doesn't

[2014-09-05 16:54] fsgit opened #69 "AppVeyor build set up but failing"
We have set up an automated appveyor build by adding appveyor.yml - see https://ci.appveyor.com/project/fsgit/fsharp-data-sqlclient/

However it is failing because the tests are being built but the databases are not accessible

Could you please adjust the build and test script appropriately to make the build pass?

[2014-09-05 19:15] #69 closed, assigned to nobody

[2014-09-17 09:34] vasily-kirichenko opened #70 "Errors during package installation from the console"
[code]

[2014-09-24 14:14] plepilov opened #71 "Add support to use ODBC DSN name in provider's connection string"
Not sure if it easy to implement but there are several possible use cases for this like creating test applications for different database instances that could be switched in DSN settings or easier switch between test and production databases etc.

[2014-09-26 11:54] #71 closed, assigned to nobody

[2014-10-01 01:42] ctaggart opened #72 "allow connection string to come from reflected type"
Allowing connection string to come from a reflected type would allow more flexibility. An example configuration would be:

[code]

The params being the `Assembly` to instantiate the `Type` and get the setting of `Name`.

The basic code to implement is just standard reflection:

[code]

The `Type` requires a default constructor and a `Get` instance method that takes a `string` and returns a `string

[2014-10-07 03:01] rojepp opened #73 "Add support for SqlBulkCopy operations"
[SqlBulkCopy](http://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlbulkcopy%28v=vs.110%29.aspx) basically takes a table name and a DataSet and inserts a bunch of records quickly.

A provider for it would take a table name in the constructor, generate an insert record type from the table name, skipping over any computed columns. The ExecuteAsync method would probably take a seq of this

[2014-10-15 21:15] jorgef opened #74 "Add support for localdb |DataDirectory|"
Scenario: I am trying to compile an app in Visual Studio Online (TFS) using localdb as the real DB is not accessible during compilation time.

I have the mdf file on the project's directory (library) and the following connection string (this works with the EF type provider):
Data Source=(localdb)\V11.0;AttachDbFilename=|DataDirectory|\MyDb.mdf;Integrated Security=True;Initial Catalog=MyDb

The app

[2014-10-19 01:47] #68 closed, assigned to nobody

[2014-10-19 06:25] #74 closed, assigned to orlandpm

[2014-10-19 06:27] #67 closed, assigned to nobody

[2014-10-19 07:02] #59 closed, assigned to nobody

[2014-10-24 23:39] #72 closed, assigned to nobody

[2014-11-05 11:55] isaacabraham opened #76 "Support for app settings"
It would be useful if the connection string could be read from app settings as well as connection strings.

[2014-11-13 16:11] Merenwen opened #77 "Alter Sequence Parameterization Fails"
Hi,

Loving the type provider so far, but have ran into an issue when trying to restart a sequence
SqlCommandProvider<"ALTER SEQUENCE @sequenceName RESTART", localhostCs>
will throw a design time error.

However,
SqlCommandProvider<"ALTER SEQUENCE Hmi.SampleDataResultSequence RESTART", localhostCs>
will not throw an error.

I'm guessing this is done because it attempt to execute and revert the sql

[2014-11-17 00:47] #77 closed, assigned to nobody

[2014-11-19 03:36] ctaggart opened #79 "FSharp.Core 4.4.0.0 gets referenced when using Visual Studio 2015 Preview"
I created an example `FSharp.Data.SqlClient` console app to isolate a problem I'm having using it with `Visual Studio 2015 Preview`. The app simple runs a query against a hosted `AdventureWorks` on Azure. It prints the top the first 10 people using `select top 10 FirstName, LastName from person.person`.

When running from Visual Studio 2013 it works.
![image](https://cloud.githubusercontent.com/as

[2014-11-19 19:14] ctaggart opened #80 "no version information in 1.4.4 dll"
![image](https://cloud.githubusercontent.com/assets/80104/5112470/f235ef10-6fdc-11e4-936b-6dafedb32353.png)

![image](https://cloud.githubusercontent.com/assets/80104/5112495/29bc5352-6fdd-11e4-955e-09aea144d7dd.png)

[2014-11-20 02:19] #80 closed, assigned to nobody

[2014-11-24 19:23] dmitry-a-morozov opened #82 "Investigate a possible memory leak caused by TP cache"

[2014-11-24 19:33] dmitry-a-morozov opened #83 "Migrate from FileSystemWatcher to HostFileChangeMonitor"

[2014-11-24 21:15] dmitry-a-morozov opened #84 "Retry logic for SQL Azure Throttling"
http://msdn.microsoft.com/en-us/library/azure/dn338079.aspx

http://channel9.msdn.com/Events/Microsoft-Azure/AzureConf-2014/Performance-Tuning-Microsoft-Azure-SQL-Database

[2014-11-25 08:04] vasily-kirichenko opened #85 "No XML doc for DataDirectory static SqlProgrammability TP parameter"
![image](https://cloud.githubusercontent.com/assets/873919/5179731/c1ef0084-7492-11e4-97ce-2e95b7c96150.png)

[2014-11-25 08:06] vasily-kirichenko opened #86 "SqlProgrammability TP fails with "There is more than one nested type called 'HashList'...""
![image](https://cloud.githubusercontent.com/assets/873919/5179745/0b824184-7493-11e4-8966-f38ee941dc42.png)

[2014-11-25 12:31] tamizhvendan opened #87 "Executing "in filter Query" with a list type"
Hi,

I am facing a similar issue as mentioned in [this stackoverflow question](https://stackoverflow.com/questions/26248397/how-to-use-sql-in-statement-in-fsharp-data-sqlclient) while executing an query with "in filter".

@dsevastianov Is it an issue or how can we do it in FSharp.Data.SqlClient ?

[2014-11-26 02:18] #87 closed, assigned to nobody

[2014-11-26 04:24] #86 closed, assigned to nobody

[2014-11-26 07:29] vasily-kirichenko opened #88 "SqlProgrammability TP fails with "The given key was not present in the dictionary""
![image](https://cloud.githubusercontent.com/assets/873919/5197663/f7eb6b4a-7556-11e4-9988-00488571ed4a.png)

[2014-11-27 00:15] #88 closed, assigned to nobody

[2014-11-27 00:37] jorgef opened #89 "Reuse generated records / be able to provide your own records"
Hi,

I have a few queries that all return the same set of columns (different filtering) e.g.:

SELECT Id, Name, Age FROM Customers WHERE id = @Id
SELECT Id, Name, Age FROM Customers WHERE Age > 18

When reading the results, I need to transform the result to my own 'Customer' record like this (the real code is more complex):

result |> (fun r -> { Id = r.Id; Name = r.Name; Age = r.Age } : Customer)

[2014-11-27 00:53] jorgef opened #90 "Use options for input arguments mapping to nullable columns"
Hi,

When a column is nullable, the value returned is an option type, and that is great!
But when I need to update/insert that column, the inferred argument type is not an option, e.g.:

// DB -> Customer.Age: int null
let insert = SqlCommandProvider<"INSERT INTO Customers (Id, Age) VALUES (@Id, @Age)", cn>
insert.Execute (1, None) // compilation error, it expects that to be 'int' instead of 'int

[2014-11-27 05:02] #89 closed, assigned to nobody

[2014-11-27 07:21] vasily-kirichenko opened #91 "SqlProgrammability TP fails on tables which are named as SQL keywords"
![image](https://cloud.githubusercontent.com/assets/873919/5213468/edc13168-761e-11e4-8feb-1995dbdca2cd.png)

I think we should enclose all table names in `[` `]`.

[2014-11-27 07:51] vasily-kirichenko opened #92 "SqlProgrammability should allow to not specify values for not nullable columns"
For the following table:

[code]

the TP generates the following `Add` signature:
![image](https://cloud.githubusercontent.com/assets/873919/5213725/e1ba1804-7622-11e4-8126-c60414da9c87.png)

which does not allow to _not_ pass values for not-nullable columns. It's needed because not-nullable columns may have default constraints which trigger if we do not provide any value for the specific column (

[2014-11-27 08:12] #91 closed, assigned to nobody

[2014-11-28 23:39] #92 closed, assigned to nobody

[2014-11-29 16:43] vasily-kirichenko opened #93 "SqlProgrammability TP Table.AddRow does not add row"
[code]

[code]

[2014-11-29 18:03] #93 closed, assigned to nobody

[2014-12-03 01:12] ctaggart opened #94 "get schema information from DataSchemaModel xml"
Instead of requiring a database connection to get the database schema model info, it would be great if the information could be gathered from a `DataSchemaModel` xml stream. Unzip a `bacpac` and take a look at `model.xml`.

[code]

[2014-12-08 11:47] vasily-kirichenko opened #95 "SqlProgrammability does not show schemas at all"
![image](https://cloud.githubusercontent.com/assets/873919/5338798/22c3e1ee-7ee9-11e4-861e-d07b12db9057.png)

[2014-12-09 04:48] #90 closed, assigned to nobody

[2014-12-09 04:48] #85 closed, assigned to nobody

[2014-12-09 13:49] #95 closed, assigned to nobody

[2014-12-10 04:57] #73 closed, assigned to nobody

[2014-12-10 10:53] vasily-kirichenko opened #96 "Add XML doc comments based on SQL server "description" metadata"
In SQL Server we can assign a description to a table column, like this:

[code]

It would be great to retrieve such descriptions and add XML doc comments to arguments (and to tables) in the following code (for example):

[code]

I extracted the description with the following query:

[code]

[2014-12-11 05:17] dmitry-a-morozov opened #97 "TVP in namespace different than default (usually dbo) fails"
Currently when routine (SP or Function) uses TVP defined in namespace that different from it fails with error message "... Cannot find data type [TVPType]"

[2014-12-11 05:42] #97 closed, assigned to nobody

[2014-12-12 11:58] xkrt opened #98 "CommandTimeout?"
Hi!

Execution of some my queries lasts longer than 30 secs (default CommandTimeout). I cant figure out how can I increase timeout for SqlCommandProvider?

[2014-12-13 08:28] #98 closed, assigned to nobody

[2014-12-16 07:22] vasily-kirichenko opened #99 "Cannot update NuGet package"
![image](https://cloud.githubusercontent.com/assets/873919/5449832/6b1963f4-850d-11e4-9439-768df99c9489.png)

[2014-12-17 00:51] #99 closed, assigned to nobody

[2014-12-17 08:21] vasily-kirichenko opened #100 "Cannot install latest NuGet package"
[code]

![image](https://cloud.githubusercontent.com/assets/873919/5468374/d5ba246a-85de-11e4-8e37-742e88d12b4c.png)

[2014-12-17 13:56] vasily-kirichenko opened #101 "XML doc on tables is broken"
![image](https://cloud.githubusercontent.com/assets/873919/5472062/64b9ac2a-860d-11e4-9da5-9f8f1ad89d24.png)

However, it works ok on `AddRow` arguments:

![image](https://cloud.githubusercontent.com/assets/873919/5472081/a94b11a8-860d-11e4-8ff4-1e778607513e.png)

[2014-12-17 18:22] #101 closed, assigned to nobody

[2014-12-28 07:34] #100 closed, assigned to nobody

[2015-01-04 16:26] feaselkl opened #102 "Spatial Type Support For Stored Procedure Parameters"
Spatial types (HIERARCHYID, GEOMETRY, GEOGRAPHY) currently work in SQL result sets just fine, but when trying to use a stored procedure which defines a spatial type as a parameter, the resulting method is typed as a SqlHierarchyId rather than the appropriate spatial type.

Example using AdventureWorks2012:
[code]

The problem is that spatial types are special:  all three have a system type ID of 2

[2015-01-05 00:18] dmitry-a-morozov commented on #102
Hi, thank you for discovering the issue and submitting PR !
It's all merged.
A new version 1.5.6 has been uploaded on Nuget.

[2015-01-12 18:47] #102 closed

[2015-01-14 00:31] dmitry-a-morozov commented on #96
Sql Azure doesn't have extended properties. Fix the library to ignore extended properties when applied to Sql Azure.

[2015-01-26 06:11] #96 closed

[2015-01-30 07:35] rojepp opened #105 "Error using library in Mono"
Compiling a simple app on Mono yields

The same app works on Windows/.Net.

[2015-01-30 23:49] #11 closed

[2015-02-05 12:28] smoothdeveloper opened #107 "Allow another way to pass database context"
currently, the connection context can be any of those:

[code]

In code base I work with (which is not in F#), it's more convenient to pass Func<SqlCommand> around which takes care of creating dbcommand with appropriate timeout, connection and transaction depending application context, this was introduced in the code base to replace a lot of manual connection / transaction management and keeping a

[2015-02-05 23:23] dmitry-a-morozov commented on #107
In general you're absolutely right but normal coding rules unfortunately cannot be applied to type providers implementation.
An issue with your proposal that it will require to construct ```CreateCommandFunctor``` lambda function inside quotations. Most likely here https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/SqlCommandProvider.fs#L164.
Which will make it impossibl

[2015-02-06 12:23] smoothdeveloper commented on #107
@dmitry-a-morozov thanks for your feedback, I vaguely know TypeProvider authoring is a bit of a headache and I'm not acquainted with the quotation stuff.

I'm not sure I grasp what you mean with the debug consideration, I gave a try at implementing the changes in my fork and it seems to work properly, I also added an extension point to alter the command which is prepared which is also something I

[2015-02-06 17:16] dmitry-a-morozov commented on #107
By debuggability I meant a code in between <@@ ... @@> or explicit constructed quotations cannot be debugged. (try to put break-point or step-into this code). The only way to diagnose problems in this code is to use old-fashion ```printf```

[2015-02-09 16:24] rojepp commented on #105
It would be great if the Travis build could connect to at least an azure database to see that this lib still works on mono. Is there an azure sql db somewhere that could be used?

[2015-02-09 17:43] dmitry-a-morozov commented on #105
Yes, there is one
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/ConnectionStrings.fs#L10
Better CI is on my "TO DO" list

[2015-02-11 13:24] smoothdeveloper commented on #68
I looked at this:

[code]

is_hidden | column_ordinal | name | is_nullable | system_type_id | system_type_name
------------ | ------------------- | ------- | ------------- | ----------------------- | ----------
0 | 1 | NULL | 0 | 61 | datetime | 8

is_hidden | column_ordinal | name | is_nullable | system_type_id | system_type_name
------------ | ------------------- | ------- | ------------- | ----

[2015-02-12 14:52] rojepp opened #110 "FileSystemWatcher not working properly"
I was surprised to see changes to my sql file not being picked up:
[code]
So I looked in the code and found that the FileSystemWatcher would watch the source folder, with a filter of 'sql/Assessments.sql'. So I changed it to this and it worked:

[code]

Then, I couldn't load this .fs file from another folder, so I changed it to
[code]
and it compiles, but stops picking upp changes because the FSW

[2015-02-12 19:46] dmitry-a-morozov commented on #110
I'll have a look. It will take take some time because I'm swamped with my primary work.

[2015-02-12 19:47] dmitry-a-morozov commented on #105
Any chance you can help me to find a root cause?

[2015-02-12 21:36] rojepp commented on #110
Would you accept a PR with the changes I've outlined?

[2015-02-12 21:37] rojepp commented on #105
Yes. Now that I've found out about .Raw, it is worth investing some time in
it. ;) Give me a few days.

On Thu, Feb 12, 2015, 20:48 Dmitry Morozov <notifications@github.com> wrote:

[2015-02-13 05:42] dmitry-a-morozov commented on #110
I don't use *.sql file much so it's hard for me to make this call.
Probably you're right.
Here is relevant discussion
https://github.com/fsprojects/FSharp.Data.SqlClient/issues/64
Let me check first if "ResolutionFolder" param is used in any of Tachyus prod projects.

[2015-02-13 05:43] dmitry-a-morozov commented on #105
Be careful with ```.Raw`` - it's not officially supported :)

[2015-02-13 13:01] rojepp commented on #110
@dmitry-a-morozov I went ahead and implemented it. Feel free to ignore if you think its a bad idea. :)

[2015-02-13 16:46] rojepp commented on #105
The first failure (there may be more, not sure yet) is that `GetSchema("DataTypes")` doesn't return these types on mono:

0.0.0, PublicKeyToken=89845dcd8080cc91 29 "Microsoft.SqlServer.Types.SqlHierarch
yId, Microsoft.SqlServer.Types, Version=11.0.0.0, PublicKeyToken=89845dcd8080cc9
1" Some false

.0, PublicKeyToken=89845dcd8080cc91 29 "Microsoft.SqlServer.Types.SqlGeometry, M
icrosoft.SqlServer.T

[2015-02-13 17:11] rojepp commented on #105
This problem will likely go away as mono and .net merge.
This is what .net GetSchema executes to get all UDTs:
http://referencesource.microsoft.com/#System.Data/System/Data/SqlClient/sqlmetadatafactory.cs,45

[2015-02-13 19:50] rojepp commented on #105
Good news is that if those missing types are ignored rather than throwing an exception, it works! (Given that you don't use those types, I suppose)
Part of a fix should be to actually exercise the TP in the OS-X build. :)

[2015-02-13 20:37] dmitry-a-morozov commented on #110
Cool,
Thanks for help.

[2015-02-15 15:06] smoothdeveloper opened #114 "CommandTimeout is not represented in it's clone when using AsSqlCommand"
I hit this issue while I implemented #107, I made a fix as a separate commit adding more tests: https://github.com/smoothdeveloper/FSharp.Data.SqlClient/commit/48057ee7fd795a10cc4617c91b73709558877a56

[2015-02-15 21:22] rojepp commented on #105
Connecting to Azure SQL DB does not seem to be working in mono, so its hard to tests the provider from CI, unless we can find a regular public sql server to connect to?

http://stackoverflow.com/a/16379517/9436

[2015-02-16 17:55] #110 closed

[2015-02-23 17:34] #105 closed

[2015-02-24 02:08] jorgef commented on #84
I am experiencing some "System.ComponentModel.Win32Exception: An existing connection was forcibly closed by the remote host" every now and then when using SQL Azure.

It would be great to have some configurable retry logic, otherwise I will need to add the retries at the application level.

Do you see this happening any time soon? Any recommendation of how to handle it in a centralized way?

Thank

[2015-02-25 14:41] rojepp opened #119 "Better support for statements that don't have a return value"
Sometimes you just want to perform an action and not care about the result. For example
[code]

This query fails for me with an InvalidCastException, at least on OSX. It compiles though.
To get this query to run I have to
[code]

[2015-02-27 00:20] dmitry-a-morozov commented on #84
Do you think this is high-priority issue ?
I work a lot with SQL Azure these days. Throttling is rare but possible.

For now you can try introduce re-try logic up in the stack
[code]

[2015-02-27 00:46] jorgef commented on #84
I don't think it is high-priority but in my case it is not that rare. I already had 5 errors during the first week in production. So it may be important for others too (I guess it can be different on each Azure region).

Thanks for the retry logic code, the main issue is that I need to find a way to centralize that code, otherwise I will need to repeat it all over the place. And I found a bit chal

[2015-02-27 10:04] smoothdeveloper commented on #114
Fixed in master, thanks!

[2015-02-27 10:04] #114 closed

[2015-02-27 17:12] dmitry-a-morozov commented on #84
@jorgef Can you try to play with "ConnectRetryCount" and "ConnectRetryInterval" settings in connection string? I don't expect it to be helpful but give it a shot.
https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring%28v=vs.110%29.aspx
there is also a white paper
https://msdn.microsoft.com/en-us/library/dn632678.aspx

[2015-02-27 18:50] ctaggart commented on #79
According to Kevin, it is something wrong with this Type Provider implementation.

[2015-02-28 02:50] jorgef commented on #84
I will give it a try, thanks!

[2015-02-28 13:00] smoothdeveloper commented on #107
@dmitry-a-morozov I really need some discussion or that you show us how you can get a provided command instance ready provided a unit - SqlCommand

* I tried explained at https://github.com/fsprojects/FSharp.Data.SqlClient/pull/118#issuecomment-76329155 why having 3 things to pass as constructor instead of 1 is painful to manage in codebase and leads more room for mismatches
* I tried to show at h

[2015-03-02 18:12] smoothdeveloper commented on #107
@dmitry-a-morozov  I think what I need is addressed nicely with your comment https://github.com/fsprojects/FSharp.Data.SqlClient/commit/072071457dc3394afa8cf97fff4b3b2cc9e8ffc3#commitcomment-9990389

Thanks for keeping up and helping me figure this out.

[2015-03-02 23:55] #107 closed

[2015-03-03 23:30] dmitry-a-morozov opened #121 "after PR 116 merge problem"
After PR #116 we merged SqlCommandProvider fails with

error FS3033: The type provider 'FSharp.Data.SqlCommandProvider' reported an error: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.
on statements that includes '.' and long enough

For example this on AdventureWorks

[c

[2015-03-03 23:47] dmitry-a-morozov commented on #121
Fixed in ver 1.6.0

[2015-03-03 23:47] #121 closed

[2015-03-08 03:30] dmitry-a-morozov opened #122 "setting property of type option<_> on generated data rows should be mapped to DbNull.Value"
Nullable columns mapped to properties of type ```option<_>``` for datarow types generated by ```SqlProgrammability``` provider.
When attempt to invoke setter with ```None``` value for such kind of column it fails with
...
: System.ArgumentException : Cannot set Column 'EndDate' to be null. Please use DBNull instead.
...

[2015-03-08 03:36] dmitry-a-morozov commented on #122
fixed in ver 1.6.1

[2015-03-08 03:36] #122 closed

[2015-03-09 16:48] dmitry-a-morozov commented on #84
@jorgef Did it work for you?

[2015-03-09 22:23] jorgef commented on #84
I am in process of testing it. I haven't deployed it to prod yet.
I am planning to run a quick load test in a few days.
Will keep you updated.

[2015-03-10 01:44] dmitry-a-morozov commented on #119
Fixed in ver 1.6.2
This was nasty bug.
In following line pattern didn't match for mixture of 3.0 and 3.1 F# core.
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/104ca6be317dd752817b1272eacdeb69e5d7bb63/src/SqlClient/ISqlCommand.fs#L96
Thank you for testing and giving me a hard time :)

[2015-03-10 01:44] #119 closed

[2015-03-11 20:50] jorgef commented on #84
@dmitry-a-morozov Even with "ConnectRetryCount=10" we are still receiving connection errors every now and then (as ConnectRetryInterval's default is 1 sec, I didn't set that one).

Here you have an example from yesterday:

[code]

[2015-03-11 22:04] dmitry-a-morozov commented on #84
ok. I'll keep it in mind.
Give me some time to think of a good solution.

[2015-03-11 22:58] jorgef commented on #84
Thanks

[2015-03-13 21:43] #94 closed

[2015-03-13 21:43] dmitry-a-morozov commented on #70
Can I close this issue?

[2015-03-16 16:10] astr0wiz commented on #70
​Please do.  :)​

______________________________________________________________
James Jensen
Software Analyst
LinkedIn: http://www.linkedin.com/pub/jim-jensen/1/3b0/396

On Fri, Mar 13, 2015 at 4:43 PM, Dmitry Morozov <notifications@github.com>
wrote:

[2015-03-16 16:37] #70 closed

[2015-03-31 03:44] davidpodhola opened #123 "External SQL files in referenced libraries does not work if not copied to the referencing library"
if selecting from a table with column named [From], SQL error is reported, typecheck throws an error

[2015-03-31 04:23] davidpodhola commented on #123
typecheck error FS3033: error : Incorrect syntax near 'SQL'.The batch could not be analyzed because of compile errors.

[2015-03-31 04:29] dsevastianov commented on #123
Could you provide actual SQL as well

[2015-03-31 04:32] davidpodhola commented on #123
Yep, now I need to get the "outer" code running, then I want to dig deeper into this (in about 8 hours I think)

[2015-03-31 05:02] davidpodhola commented on #123
Just tried quickly getting the code out and it is getting worse :cry:
https://gist.github.com/davidpodhola/025f19a5adc92898742e is working correctly so it must be related to some other type in the solution.

Any suggestions how to debug it?

[2015-03-31 05:29] davidpodhola commented on #123
removing the code to a separate project solved the issue. I would be still interested in how to get more information from the compilation. The issue also might be related to the type of the project, referenced projects etc.

[2015-03-31 07:11] davidpodhola commented on #123
Generally something very bad happening in my fsproj :sad:
![capture](https://cloud.githubusercontent.com/assets/436605/6913923/eb02f254-d785-11e4-98a0-5cf0e0c2afd8.PNG)

[2015-03-31 17:14] dmitry-a-morozov commented on #123
Do you use inline T-SQL or external *.sql files?

[2015-04-09 19:44] davidpodhola commented on #123
I use external *.sql files. Added http://fsprojects.github.io/FSharp.Data.SqlClient/ to a project right now and I am unable to build it.
The mysterious `unknown(1,1)` error again:

[code]

[2015-04-09 19:45] davidpodhola commented on #123
Probably no way related to [From] since the actual SQL is

[code]

[2015-04-09 20:22] davidpodhola commented on #123
So finally it is http://stackoverflow.com/questions/25156440/typecheck-error-fs3033-from-f-xmlprovider issue. If I copy the external files to the referencing library, it works.
Still not sure, how to use http://fsprojects.github.io/FSharp.Data.SqlClient/ in a bigger project, should the SQLs be referenced by absolute paths?

[2015-04-09 20:53] dmitry-a-morozov commented on #123
Using file path with erased type that spawn more than one project is tricky,
If you have erased type defined in project A but use it in project B
actually code generation takes place in project B therefore file path (absolute or relative) has to be valid in context of project B too.
This is a little confusing but that how erased type providers work by design.

[2015-04-09 21:21] davidpodhola commented on #123
thanks @dmitry-a-morozov , you are right I forgot about how these works.
Anyway these types should not be propagated out of project A so this is the root issue in our case we need to fix.
Still, maybe somehow this could be mentioned somewhere in doc in http://fsprojects.github.io/FSharp.Data.SqlClient/configuration%20and%20input.html

[2015-04-09 21:26] dmitry-a-morozov commented on #123
Sure. I will update the docs.
This is not a first time this issue pops up.

[2015-04-28 08:01] vasily-kirichenko opened #124 "Performance"
Could we use some other option to pass schema through quotation boundaries?

![image](https://cloud.githubusercontent.com/assets/873919/7365110/bf5c43d2-ed95-11e4-856c-2caa5977ba74.png)

[2015-04-28 16:43] dmitry-a-morozov commented on #124
Why?

[2015-05-02 02:28] dmitry-a-morozov opened #125 "A better error message when iterating over resulting seq more than once"

[2015-05-04 16:48] dmitry-a-morozov opened #126 "Remove AsSqlCommand method"

[2015-05-04 16:50] dmitry-a-morozov opened #127 "Remove ResolutionFolder type provider parameter"

[2015-05-04 16:58] dmitry-a-morozov commented on #125
Closed because currently error message is clear enough.
...
System.InvalidOperationException : Invalid attempt to call Read when reader is closed.
...

[2015-05-04 16:58] #125 closed

[2015-05-05 21:57] rojepp opened #128 "Cache too aggressive"
The TP caches too aggressively, it does not pick up on changes to the sql schema.

In this recording, I've changed the type of `Avtalskod` in sql. The change isn't picked up automatically, which is to be expected; there is no trigger for it. Then if I try to trigger a change, by adding and removing a space it still doesn't work. But if I leave the space in, then that yields a new cache entry and t

[2015-05-05 23:12] dmitry-a-morozov commented on #128
You won't believe but I spent a whole day today researching on cache improvements for the library.   :)
Currently cache expires in 15 secs.
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/05d411086e76f228fb4d9db21bfa5b6a8719653e/src/SqlClient/ProvidedTypesCache.fs#L10
A way to forcefully refresh it is "Clean" or "Rebuild" commands in Visual Studio.
Cache is unique per single instantiation

[2015-05-06 06:48] rojepp commented on #128
I guess 15 seconds is just long enough to trip me up. :)
Those 15 seconds is a sliding expiration, so that period became a lot longer for me, because I wouldn't sit still..
I didn't bother to check the code before reporting this, but now that I know how it works, I think it's a pretty good solution. Closing this. Thanks for the explanation!

[2015-05-06 06:48] #128 closed

[2015-05-06 06:55] vasily-kirichenko commented on #128
I'm against any expiration time for caching at all. In large solutions it increases compilation time significantly.

[2015-05-06 08:04] rojepp commented on #128
You'd rather have incorrect results?
The 15 second sliding expiration shouldn't trip you up if you're compiling a huge solution?

[2015-05-06 09:24] vasily-kirichenko commented on #128
I don't know :( Maybe MSSQL DB has something like "schema version" which increases automatically if anything changed?

[2015-05-06 10:12] rojepp commented on #128
But then you're round-tripping to database just to check if you should round-trip to database. :)
Check with Sql Profiler, how often is it really going to db?

[2015-05-07 06:01] dmitry-a-morozov opened #129 "ExecuteSingle method on SqlProgrammability stored procedure/function types"

[2015-05-11 16:56] dmitry-a-morozov opened #130 "help section dedicated to database updates"
- DataReader, DataTable result types
  - BulkCopy
  - Connections, Transactions (explicit - SqlTransaction and ambient TransactionScope)

[2015-05-13 20:49] dmitry-a-morozov opened #131 "unify SqlProgrammabilityProvider and SqlCommandProvider ctors"
Currently commands generated by SqlProgrammabilityProvider do have constructor that accept live connection.
Need to make this inform with SqlCommandProvider
new: (?SqlConnection * ?SqlTransaction * commandTimeout: int -> #ISqlCommand)

[2015-05-14 17:26] dmitry-a-morozov opened #132 "make value types parameters with default value NULL in SqlProgrammabilityProvider of type option<_>"

[2015-05-14 18:44] panesofglass commented on #129
:+1: this would be excellent and far more expressive of the expected result.

[2015-05-26 11:55] #124 closed

[2015-05-27 22:35] dmitry-a-morozov commented on #124
any particular reason you closed this ticket?

[2015-06-03 18:38] smoothdeveloper commented on #131
Looking forward for that, I can't use SqlProgrammabilityProvider with this code:

[code]

but I could definitely use it if this was implemented.

I was willing to implement the changes but saw that there was a temp branch with a bit of refactoring and this implemented.

Let me know if you'd like me to make a branch with only this.

Thanks

[2015-06-03 18:42] dmitry-a-morozov commented on #131
Already implemented.
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/temp/src/SqlClient/SqlProgrammabilityProvider.fs#L202
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/temp/src/SqlClient.Tests/ProgrammabilityTests.fs#L121

Will be available in the next release.
Soon.

[2015-06-04 20:54] dmitry-a-morozov opened #134 "create FAQ help page"
1) using same parameter more than once in sql statement limitation
2) AllParametersOptional
3) https://github.com/fsprojects/FSharp.Data.SqlClient/issues/123
4) ISqlCommand interface
5) ToTraceString
6) command timeout
7) new vs Create

[2015-06-05 16:06] dmitry-a-morozov commented on #129
@panesofglass  check out 1.7.0-beta. I will promote it to final in 2-3 days.

[2015-06-05 16:06] #129 closed

[2015-06-05 16:07] dmitry-a-morozov commented on #131
@reidev275 @smoothdeveloper check-out ver 1.7.0-beta. I will promote it to final in 2-3 days.

[2015-06-05 16:07] #131 closed

[2015-06-05 16:07] dmitry-a-morozov commented on #126
ver 1.7.0

[2015-06-05 16:07] #126 closed

[2015-06-05 16:26] dmitry-a-morozov commented on #124
check out ver 1.7.0-beta. I will promote it to final in 2-3 days.

[2015-06-05 17:04] smoothdeveloper commented on #131
@dmitry-a-morozov thanks for update.

I'm updating my code but there are few places I'm using .AsSqlCommand because I need to set the parameters dynamically in my code to queries I have defined (passing a dictionary of arguments).

Is there any alternative to replace my usage of AsSqlCommand? I just want to avoid to have to duplicate the sql statements by having to create my own untyped commands.

[2015-06-05 17:22] dmitry-a-morozov commented on #131
I thought you're using ISqlCommand.Raw

[2015-06-05 17:39] smoothdeveloper commented on #131
ISqlCommand.Raw would definitely work, I'm not sure how to convert an instance of SqlCommandProvider to ISqlCommand though? I tried ```:?>```

I could replace the usages I had anyways as in those places I could actually do without reflection on command parameters, able to create commands from SqlProgrammabilityProvider with the code in my previous comment :)

Thanks for your help.

[2015-06-05 20:24] rojepp commented on #131
You convert the provided type to ISqlCommand, not SqlCommandProvider. Does this help?

[2015-06-05 20:33] dmitry-a-morozov commented on #131
yes. examples are below
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/TypeProviderTest.fs#L21
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/TypeProviderTest.fs#L32
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/TypeProviderTest.fs#L178
https://github.com/fsprojects/FSharp.Data.SqlClient

[2015-06-10 23:57] dmitry-a-morozov opened #135 "create xml doc from MS_Description ext.prop for routines and params"
Only for SQL Server on-prem

[2015-06-11 06:45] dmitry-a-morozov commented on #132
Fixed in ver 1.7.0

[2015-06-11 06:45] #132 closed

[2015-06-16 22:51] t0yv0 opened #136 "calling tvp sproc with nullable fields"
given a table type where one of the record fields is nullable
calling it via provider without providing a value, passes 0 to the sproc, instead of null
there seems to be no way to pass null

[2015-06-17 05:32] dmitry-a-morozov commented on #136
Fixed in
https://www.nuget.org/packages/FSharp.Data.SqlClient/1.7.1-beta
Check it out. If works I'll promote it to stable release.

[2015-06-17 05:32] #136 closed

[2015-06-17 17:02] dmitry-a-morozov opened #137 "support single column select in SqlEnumProvider - natural keys case"

[2015-06-19 14:47] reidev275 opened #138 "SqlProgrammabilityProvider does not update User-Defined Table Types on rebuild"
My current workaround is to restart Visual Studio.

I think this issue is what tripped me up and prompted my Stack Overflow question
http://stackoverflow.com/questions/30263690/fsharp-data-sqlclient-type-provider-with-user-defined-table-types

**Steps to reproduce**
1. create a provider `type Db = SqlProgrammabilityProvider<"name=db">`
2. view User-Defined Table Types `Db.dbo.User-Defined Table Ty

[2015-06-19 16:21] dmitry-a-morozov commented on #138
There is a caching inside the type provider. It's been tricky/painful issue for everyone.
But was done for a reason
https://github.com/Microsoft/visualfsharp/issues/440

I'm thinking hard how to improve the situation.
For now try force Clean or Rebuild from inside Visual Studio. That should do the trick.
One question: do you use Sql Server or Sql Azure?

[2015-06-19 16:40] reidev275 commented on #138
Clean and Rebuild works for everything I've tried _except_ UDTTs which is why I added the issue.
I'm using Sql Server Express 2012 and VS 2012

BTW, This is a wonderful project, just trying to contribute in any small way I can :)

[2015-06-19 16:48] reidev275 commented on #138
FWIW, I also tried unloading and reloading the project and that doesn't resolve the issue either.

[2015-06-19 17:13] dmitry-a-morozov commented on #138
You're right - there is a bug.
Thank you help with testing !
Will be fixed in the next release.

[2015-06-19 17:28] reidev275 commented on #138
Awesome! Very happy to help.

Is it that the data from it comes from dataTypeMappings rather than requerying the db?

[2015-06-19 17:33] dmitry-a-morozov commented on #138
correct. I'm about to push a new version

[2015-06-19 17:38] dmitry-a-morozov commented on #138
fixed in ver 1.7.2
https://www.nuget.org/packages/FSharp.Data.SqlClient/1.7.2

[2015-06-19 17:38] #138 closed

[2015-06-24 00:59] lefthandedgoat opened #139 "Exception when results are int option"
I get this stack

[code]

Below query reproduces it

[code]

This actually works no problem in Mono (OSx), but on Windows (Win7, vs 2013) it does not.

Stack points to this line of code:
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/ISqlCommand.fs#L122

I downloaded the code and added it to my project to debug, and the value of `itemTypeName` is ```Microsoft.FSharp.

[2015-06-24 01:46] dmitry-a-morozov commented on #139
I cannot replicate this.
Please provide me with following information:
1) target .NET Framework version
2) target F# core version
3) full path to FSharp.Core in references section of a project.

[2015-06-24 01:55] lefthandedgoat commented on #139
![image](https://cloud.githubusercontent.com/assets/725225/8321233/ec18d7f2-19e9-11e5-9100-8da3650bad73.png)

[code]

Is this enough?  I will also try to create a project that can reproduce this by itself and put it on gitub.

[2015-06-24 02:03] dmitry-a-morozov commented on #139
I never tested it with FSharp.Core that comes Nuget.
It's actually can be hard to solve problem.
See
https://github.com/Microsoft/visualfsharp/issues/23
As temporary workaround I suggest to reference FSharp.Core that shipped with Visual F# tools

[2015-06-24 02:25] lefthandedgoat commented on #139
I get the same referencing

[code]

Tomorrow I will work to create a repro project

[2015-06-24 02:38] lefthandedgoat commented on #139
This will repro it for me on my VM.  I will try on my desktop PC also

https://github.com/lefthandedgoat/fsDataSQLRepro

[2015-06-24 02:42] dmitry-a-morozov commented on #139
![image](https://cloud.githubusercontent.com/assets/3004037/8321769/f5395050-19df-11e5-9808-a260005bedb9.png)

[2015-06-24 02:51] lefthandedgoat commented on #139
Cry, doesn't work on my windows 8 machine either.

[2015-06-24 03:32] dmitry-a-morozov commented on #139
I have Windows 8.1 installed.
Is "Copy Local" on FSharp.Core reference set to true?

[2015-06-24 03:41] lefthandedgoat commented on #139
It wasnt, and it didn't even exist in the repro code.  Setting to true fixes it.  Adding the nuget package to the repro code and setting to true also fixes it.

Thanks.

About 50% or more of my problems with F# revolve around FSharp.Core and Proj files =(.

Thank you for your help!

[2015-06-24 03:41] #139 closed

[2015-06-24 03:49] dmitry-a-morozov commented on #139
When it comes to type providers it's 10x bigger problem
Once F# team will fix the bug that F# core is missing from list of referenced assemblies
I will try to change the type provider to grab types from assemblies provided in reference list.
In theory it will resolve cases like the one you just had.

[2015-06-26 11:25] neolem opened #141 "SqlCommandProvider with T-SQL file doesn't work in fsi"
The following code compiles and runs in F5. However, it fails when run in fsi.exe (F# interactive).

```type t = SqlCommandProvider<"Applications.sql", connStr>```

```Applications.sql``` contains the following t-sql and is located in the same folder as the .fsx script file.
[code]
The error I get is,

Is there something that I am missing perhaps?

[2015-06-26 13:00] neolem commented on #141
I did some investigation. It seems when executing the type provider from within the fsi.exe, the default folder it looks for is in the Scripts folder of the current project root folder. Maybe an option would be to default to ```System.Environment.CurrentDirectory```, since in .fsx script files we usually do System.Environment.CurrentDirectory <- __SOURCE_DIRECTORY__ ...

[2015-06-26 15:19] neolem commented on #141
I have managed to resolve this with the code below.

[code]
The above executes okay in both the fsi.exe and F5.

[2015-06-26 15:19] #141 closed

[2015-06-29 05:16] dmitry-a-morozov commented on #141
Sorry for delayed response - I was on a short vacation.
I'm glad you found a way to resolve the issue.
You could also consider something like
http://stackoverflow.com/a/10917385/1603572

[2015-06-30 16:32] dmitry-a-morozov commented on #127
ResolutionFolder folder is still useful for some scenarios like FSI
https://github.com/fsprojects/FSharp.Data.SqlClient/issues/141

[2015-06-30 16:32] #127 closed

[2015-07-06 23:11] dmitry-a-morozov commented on #137
fixed in ver 1.7.3

[2015-07-06 23:11] #137 closed

[2015-07-06 23:12] dmitry-a-morozov commented on #135
fixed in ver 1.7.3

[2015-07-06 23:12] #135 closed

[2015-07-06 23:12] dmitry-a-morozov commented on #130
fixed in ver 1.7.3

[2015-07-06 23:12] #130 closed

[2015-07-10 20:37] dsyme opened #143 "404 on SqlProgrammabilityProvider"
The front page link for SqlProgrammabilityProvider gives me a 404 http://fsprojects.github.io/FSharp.Data.SqlClient/sqlprogrammabilityprovider.quickstart.html

[2015-07-13 06:04] dmitry-a-morozov opened #145 "Stored Procedure and TVP params from diff schemas"
This doesn't work

CREATE TYPE dbo.MyTableType AS TABLE (myId int not null, myName nvarchar(30) null)
GO

CREATE PROCEDURE Person.MyProc2 @p1 dbo.MyTableType readonly AS
BEGIN
   SELECT * from @p1 p
END

[2015-07-13 07:43] dmitry-a-morozov commented on #145
ver 1.7.4

[2015-07-13 07:43] #145 closed

[2015-07-13 07:45] dmitry-a-morozov commented on #143
I removed the broken link.
Revamping docs is on my roadmap.
Probably after I'll ship v2.

[2015-07-13 07:45] #143 closed

[2015-07-15 03:17] ctaggart commented on #79
Pretty still affects the latest Visual Studio 2015 build. I'm sure it will still affect VS 2015 RTM.
Work-a-round:
[code]

[2015-07-15 23:09] dmitry-a-morozov commented on #79
@ctaggart We're long way from resolving this issue.
See https://github.com/Microsoft/visualfsharp/pull/478

[2015-07-19 03:00] #76 closed

[2015-07-22 09:12] vasily-kirichenko opened #146 "Broken XML doc"
![image](https://cloud.githubusercontent.com/assets/873919/8822022/e27eeca8-306a-11e5-821c-008a90d33ed8.png)

[2015-07-22 15:55] dmitry-a-morozov commented on #146
Run this query
https://gist.github.com/dmitry-a-morozov/b854ebf2aa2c5229765d
against a table you use.
Send me back results.

[2015-07-22 17:09] dmitry-a-morozov commented on #146
I was able to repro this issue.
Unfortunately, I cannot write any unit tests :(
All manual testing.

[2015-07-24 12:16] vasily-kirichenko opened #147 "Crashes at runtime being compiled in VS 2015"
Target F# version is 4.3.1.0, .NET 4.5
[code]

[2015-07-24 12:19] davidpodhola commented on #147
I may be wrong, but I saw this when the *.Record types were not public and as result were sent "outside" of the project. I think this is not supported now. Is it your?

[2015-07-24 12:28] vasily-kirichenko commented on #147
It's fixed by the following binding redirect:

[code]

[2015-07-24 15:28] dmitry-a-morozov commented on #147
This is duplicate issue.
See
https://github.com/fsprojects/FSharp.Data.SqlClient/issues/79
Also you might be interested to check this
https://github.com/Microsoft/visualfsharp/issues/23
No fix in near sight.

[2015-07-26 02:07] dmitry-a-morozov opened #148 "Quote columnd in OUTPUT clause generated by Update on typed data tables"
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/db8be7cab2d57929e4ee0f380b42bf1c79e90866/src/SqlClient/DataTable.fs#L53 and line 55

[2015-08-04 12:40] smoothdeveloper opened #149 "how to use plain DataReader to populate typed records?"
I'm looking for a way to use my own custom commands and reuse record types defined with SqlCommandProvider provided types.

[code]

I know there was once the possibility to do that which was exhibited in the samples but I can't find it anymore.

If this still exists, please let me know how I can achieve what I shown in sample code above, and maybe it's worth to create a FAQ page in documentation w

[2015-08-10 23:07] dmitry-a-morozov commented on #149
You still can do it. Example is here
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/2fca2804faaca24bc602a9a18f9740ca0186141b/src/SqlClient.Tests/SqlCommand.fsx#L170

[2015-08-13 09:26] smoothdeveloper commented on #149
Thanks @dmitry-a-morozov

I've put minor addition in the FAQ to expose this feature in the documentation, can you check if PR #150 is appropriate?

[2015-08-13 14:45] reidev275 opened #151 "[AliasType].Record causes build failure when [FullPath].Record does not"
A common practice of mine is to have function that maps a SqlProgrammabilityProvider record type into a record type I've created.  When defining the type in the mapping function the build fails unless I start the type name from the SqlProgrammabilityProvider base type.  This is probably better explained with code:

    type Db = SqlProgrammabilityProvider<"name=db">
    type MySproc = Db.dbo.spMyS

[2015-08-13 16:36] dmitry-a-morozov commented on #151
Hmm. I cannot reproduce that.
I works as expected on my machine.

[2015-08-13 16:51] reidev275 commented on #151
I'm on Windows 7 with VS2012.  I meant to put that in the initial comment.  May be something with my setup.

[2015-08-13 17:05] dmitry-a-morozov commented on #151
ok. I will  need to setup both to debug it.
Any chance you can do it for me?

[2015-08-13 17:06] reidev275 commented on #151
would love to,  where do I start?

[2015-08-13 20:05] dmitry-a-morozov commented on #149
Done. Thank you for the contribution.

[2015-08-13 20:05] #149 closed

[2015-08-13 20:31] dmitry-a-morozov commented on #151
I installed VS2012 on my win10 machine but still cannot repro.
Also, in the sample code above you meant
[code]
not
[code]
correct?

[2015-08-13 20:34] reidev275 commented on #151
Yep, that was a typo on my part.

May just be something wonky on my box.  It's not a huge issue, esp if you can't reproduce.

[2015-09-09 18:31] dmitry-a-morozov opened #155 "links to external tutorials"
create a help page with links to external tutorials/presentations about the library

http://www.pluralsight.com/courses/building-f-sharp-type-providers
https://www.youtube.com/watch?v=uqjjrgMD41w
http://reidev275.azurewebsites.net/tag/type-providers/

etc.

[2015-09-10 12:46] smoothdeveloper opened #156 "Feature request: introspection of provided SqlCommand"
It would be nice to be able to introspect elements constituting a SqlCommand:
* CommandText containing the raw sql code (not a prepared statement that we can obtain via ```ISqlCommand .Raw```)
* Parameters containing the list of parameter descriptors (should expose the .NET type of parameter and parameter direction)

I'm facing cases where I need to remove ```with result sets``` of my sql code (su

[2015-09-10 17:08] ptrelford opened #157 "Oracle support?"
It would be great if the SqlClient could support Oracle as well as MS SQL Server. Would this be feasible within the existing project structure or better handled in a new project?

[2015-09-10 17:28] rojepp commented on #157
This TP uses two Sql Server specific procedures to get the metadata for an arbitrary query: sys.sp_describe_undeclared_parameters and sys.sp_describe_first_result_set.

For Oracle, one way to discover the resulting type could be to wrap the entire query into a temp table, and inspect the structure of that, provided there is only one result set. This is also a limitation for Sql Server. http://dba.

[2015-09-10 17:38] dmitry-a-morozov commented on #156
What's wrong with getting both ```CommandText``` and ```Parameters``` collection via ```ISqlCommand.Raw```?

[2015-09-10 18:10] smoothdeveloper commented on #156
@dmitry-a-morozov, you are right it has the expected text and parameters defined.

I guess it's the fact that ISqlCommand type doesn't show anywhere in intellisense.

[code]
and that we get a warning every where ISqlCommand appears in the code.

I'll update the FAQ to expose this work around.

[2015-09-10 19:31] dmitry-a-morozov commented on #157
Keep in mind that I'm not an Oracle expert.
  * Technology

_SqlCommandProvider_ support for Oracle requires a replacement for ```sys.sp_describe_undeclared_parameters``` and ```sys.sp_describe_first_result_set```.
As @rojepp correctly pointed out above __limited__ version of result set types discovery can be done using something like http://stackoverflow.com/questions/9132556/obtain-column-inform

[2015-09-14 03:37] andredublin commented on #151
I'm able to reproduce this error on win8.1 using vs2013
[code]

[2015-09-14 04:09] dmitry-a-morozov commented on #151
@andredublin Can you create a sample repro project?

[2015-09-14 14:13] andredublin commented on #151
https://github.com/andredublin/fsharp-webapi-example

[2015-09-14 17:28] reidev275 commented on #151
I believe that's a slightly different issue than I had.  In my case your example works, but the following would fail.

    type GetAutomobiles = CarsDatabase.dbo.wspGetAutomobiles
    let toAutomobile (record : GetAutomobiles.Record) = ()

[2015-09-14 23:30] #157 closed

[2015-09-14 23:31] #156 closed

[2015-09-16 21:36] dmitry-a-morozov opened #158 "XML docs for stored proc/functions"
Currently MS_Description extended property data is not pull for command types generated for stored procedures and functions.

[2015-09-16 23:05] dmitry-a-morozov commented on #147
Closed as duplicate of #79

[2015-09-16 23:05] #147 closed

[2015-09-16 23:16] dmitry-a-morozov commented on #146
fixed in ver 1.7.6

[2015-09-16 23:16] #146 closed

[2015-09-16 23:16] dmitry-a-morozov commented on #148
fixed in ver 1.7.6

[2015-09-16 23:16] #148 closed

[2015-09-16 23:16] dmitry-a-morozov commented on #158
fixed in ver 1.7.6

[2015-09-16 23:16] #158 closed

[2015-09-16 23:17] dmitry-a-morozov commented on #13
fixed in ver 1.7.6

[2015-09-16 23:17] #13 closed

[2015-09-19 22:13] #82 closed

[2015-09-21 02:18] dmitry-a-morozov opened #159 "Remove "Provider" post-fix from."
SqlCommandProvider -> SqlCommand
SqlEnumProvider -> SqlEnum

"Provider" post-fix is noise and was used initially mostly because lack of TP dev experience.
This will be BREAKING CHANGE.
The first rename can create naming conflict problem when both .NET BCL System.Data.SqlClient and FSharp.Data namespaces are open.  Workarounds:
  - Use full type name e.g. ```let cmd = new System.Data.SqlClient.SqlC

[2015-09-21 02:32] dmitry-a-morozov opened #160 "convenience CreateCommand method with static sql param"
In spirit of
https://github.com/dsyme/SampleMethStaticParamProvider#createdelete-sql-tables-in-a-strongly-typed-code-first-way
add Execute method on SqlClient type provider will be replacement for "SqlProgrammability".
[code]

This feature will work only with F# 4 or later.

[2015-09-21 02:38] dmitry-a-morozov opened #161 "SqlClient as "one stop shop" Sql Server type provider"
With addition of ```Execute``` method SqlProgrammabilityProvider covers all typical scenarios for type access to Sql Server from F#. To better reflect the new, more important role it makes sense to rename to ```SqlClient```. Also, SqlProgrammabilityProvider felt too verbose.

[2015-09-21 03:23] dmitry-a-morozov opened #162 "Generated types SqlCommand type provider. Records only."
With introduction of ```Execute``` method SqlClient (former SqlProgrammability) type provider covers a lot of same uses cases as SqlCommand type provider. It will create confusion among users and lead to code duplication in the implementation.
I would like to use major version V2 with breaking changes (see issues #159 and #161) as an opportunity to optimize SqlClient and SqlCommand type providers

[2015-09-21 03:54] dmitry-a-morozov opened #163 "Explicit file URIs for command text"
SqlCommand supports ability to pass file path (absolute or relative) as ```CommandText``` parameter. The provider attempts to look up file by this name and if one is not found assumes that provided value is T-SQL. These leads to very confusing error messages about invalid T-SQL in cases when file path mis-typed or cannot be found (for example issue #123).
New syntax will expect explicit file uri e

[2015-09-24 19:10] davidpodhola opened #164 "Method not found: 'Void FSharp.Data.ISqlCommand Implementation..ctor(FSharp.Data.Connection, Int32, System.String, Boolean, System.Data.SqlClient.SqlParameter[], FSharp.Data.ResultType, FSharp.Data.ResultRank, Microsoft.FSharp.Core.FSharpFunc`2<System.Object[],System.Object>, System.String)'"
Not sure what is going on. Probably this line is bringing this issue (Windows 10, Visual Studio 2015, .NET 4.5, F# 3.1)

[code]
What does it mean please? Thanks in advance!

[2015-09-24 19:11] davidpodhola commented on #164
As far as I remember it was working about month ago albeit on a different configuration.

[2015-09-24 19:26] dmitry-a-morozov commented on #164
[code]

[2015-09-24 19:31] davidpodhola commented on #164
Of course! @dmitry-a-morozov thanks a lot. Forgot to upgrade
```oldVersion``` to ```"...-4.4.0.0"```.

[2015-09-24 19:31] #164 closed

[2015-09-25 16:31] CalvinDale opened #166 "Error thrown for Azure SQL Database, "The input sequence was empty", but not for on-prem SS instance"
The following code throws *"The type provider 'FSharp.Data.SqlCommandProvider' reported an error: The input sequence was empty."* when connected to an Azure SQL Database but not when connected to an on-premises SQL Server 2014 CU4 instance. I'm not sure what's going on here since this is my first attempt to use *SqlCommandProvider*. And so as a newbie, even though I suspect that it has no relevanc

[2015-09-26 13:41] smoothdeveloper opened #167 "publish strong named assemblies on nuget"
Would it be considered to sign assemblies that are published on nuget?

Currently if I want to use FSharp.Data.SqlClient in an application which is signed, I need to make my own build which hinders updating the library to latest release.

What are the current concerns with signing assemblies and how can I help to address those?

[2015-09-28 16:20] dmitry-a-morozov commented on #167
I have nothing in particular against signing.
I don't have much experience in this area.
Are there any downsides?

[2015-09-28 17:35] smoothdeveloper commented on #167
These are downsides I'm aware of:

* the qualified name (with publictoken) should be used if InternalsVisibleTo is used for some purpose (I recall it's used for tests)
* can't have any unsigned reference
* force usage of binding redirects

[2015-09-29 20:16] dmitry-a-morozov commented on #166
I assume this happens at design time, right?

[2015-09-30 15:11] CalvinDale commented on #166
yes

[2015-09-30 16:28] lefthandedgoat opened #168 "Wanted to share workaround for compile time 'The metadata could not be determined because statement 'Exec dbo.A' in procedure 'B' causes indirect recursion.'"
I started to receive a compile time error yesterday (without making any code changes) because the DBAs made a change in environment I use in my design time connection string.

'The metadata could not be determined because statement 'Exec dbo.A param param' in procedure 'B' causes indirect recursion.'

They were improving a stored procedure that did logging and introduced this problem.

We determin

[2015-09-30 16:40] dmitry-a-morozov commented on #166
I tried to replicate the issue using somewhat similar database definitions but no luck.
I know it's a lot to ask but any chance you can help me to debug this or provide self-contained repro?

[2015-09-30 16:57] dmitry-a-morozov commented on #168
Thanks for feedback !

I thought I already doing something similar

https://github.com/fsprojects/FSharp.Data.SqlClient/blob/890ccac41eb468c77d3f699318cd7f1c119c9544/src/SqlClient/DesignTime.fs#L207

https://github.com/fsprojects/FSharp.Data.SqlClient/blob/5beea0f1b99de32a38e7df6f2f7d0edf01087bac/src/SqlClient/SqlClientExtensions.fs#L372

Did you use SqlCommandProvider or SqlProgrammabilityProvide

[2015-09-30 17:40] lefthandedgoat commented on #168
This is what my code looked like
[code]

The proc looked something like this

[code]

So by placing the dummy SELECT statement prior to the execution of `[ExistingProcThatUsesTheLoggingWithCircularReference]`, the `sp_describe_first_result_set` proc would get the result of the SELECT statement instead of doing further inspection of called proc and hitting the circular reference. (I think)

[2015-09-30 18:11] dmitry-a-morozov commented on #168
Interesting. Changing stored procedure definition to make it work with SqlCommandProvider is not very nice experience.
1) Can you debug and see if it goes for FallbackToSETFMONLY. As a shortcut you can check if following t-sql executes without errors
[code]
2) Can you try SqlProgrammabilityProvider and see if it works better?

[2015-09-30 20:02] CalvinDale commented on #166
I just removed all add-ins and repaved VS. The issue seems to have resolved itself.

[2015-09-30 20:02] #166 closed

[2015-10-03 14:37] CalvinDale opened #169 "Type provider doesn't work when VS launched using a windows user account"
Is it possible to enable this type provider to run while logged in to Windows using a user account? So far I have found it necessary to log in to Windows using an *Administrator* account or alternatively to log in to Windows using a *User* account and subsequently run Visual Studio as an administrator in order for the `FSharp.Data.SqlClient` type provider to work. Does it really need admin permiss

[2015-10-03 15:14] CalvinDale commented on #169
Interestingly enough I am able to get the same code to work in an `fsx` script file. But in `fs` source code files, I see red squigglies under `SqlCommandProvider` indicating `The type 'SqlCommandProvider' is not defined`, etc.

[2015-10-03 15:39] CalvinDale commented on #169
I was eventually able to get this work after a lot of hacking. But I'm not really sure what did the trick. It's nice to know that it is possible to run type providers while logged in using a windows user account. Previously, as an F# newbie, I wasn't sure about that.

[2015-10-03 15:39] #169 closed

[2015-10-05 03:55] CalvinDale opened #170 "Throws "more than one nested type..." when multiple table-valued input parameters have the same user-defined table type"
I have defined a UDF whose parameters are all table-valued inputs. And several of these parameters are specified in terms of the same user-defined table type. When I try to construct an instance of one of the parameters whose types are shared with other parameters, I encounter this error:
[code]
Here's the T-SQL code:
[code]
And here's the F# code:
[code]
I am able to construct the first parameter

[2015-10-05 05:40] dmitry-a-morozov commented on #169
Sorry for delayed response - I took a break from computer for weekend.
One thing that comes in mind regarding this issue is usage of integrated security in connection string.
A user account you used to start VS certainly affects the type provider if you have either "Integrated Security=true" or "Trusted_Connection=yes" setting in design time connection string.

[2015-10-05 06:49] dmitry-a-morozov commented on #170
Fixed in ver 1.7.7
Thanks for reporting the issue !

[2015-10-05 06:49] #170 closed

[2015-10-06 19:58] geandbe commented on #13
Looks like the issue reopen is due. TP fails to accept the following query:

    .....................
    WHERE <predicate>
    AND (@Param = '' OR [Field] = @Param)

with diagnostics "An item with the same key has already been added".

[2015-10-06 20:19] rojepp commented on #13
@geandbe The workaround I posted above doesn't work?

[2015-10-06 21:04] geandbe commented on #13
Sure it does, but workaround <> closed issue, right?

[2015-10-06 21:05] geandbe commented on #13
And also this workaround may seriously mess up execution plan.

[2015-10-08 17:53] CalvinDale commented on #170
Thanks for the quick turn-around!

[2015-10-08 18:08] CalvinDale opened #171 "Doesn't read connection strings from referenced configSource="app.ConnectionStrings.config" file"
For a suggestion, it would be nice if the `FSharp.Data.SqlClient` library read connection strings from a referenced file.

For example:
[code]

This technique can be useful for dealing with password-containing connection strings or when different connection strings are used on different machines, etc.

[2015-10-09 04:47] dmitry-a-morozov commented on #171
It should work as is. The type provider uses standard .NET BCL to read config info.
It knows to merge ref config file into main one and read it as one whole.

[2015-10-13 16:05] lefthandedgoat commented on #168
I haven't had a chance to look into this, but its started to affect UPDATE and DELETE statements (I think due to a trigger that uses the recursive proc).

I have never worked with the source of a TP.  How do you debug the compile time aspect of it?  I will try to create a sample db that has these problems and work on it.

[2015-10-13 16:09] dmitry-a-morozov commented on #168
Debugging type provider compile time aspect is the very hard.
You need source code.
Maybe I will add some kind of logging like in RProvider.
I just don't have capacity to do to at the moment.

[2015-10-13 16:11] lefthandedgoat commented on #168
Ok as long as System.Console.Writeline works then I can make an attempt at figuring it out!

[2015-10-14 18:22] dmitry-a-morozov commented on #171
Does it work for you?

[2015-10-14 20:06] CalvinDale commented on #171
I am planning to try this again. Unfortunately I haven't yet been able to carve out time to pursue it. I have it flagged to report back when I do finally get around to testing it again. But when i tried it before it didn't work.

[2015-10-17 00:27] dmitry-a-morozov commented on #167
I'm really puzzled on this one.
Do you have an example of well known F# OSS or .NET OSS library that is strongly signed?

[2015-10-19 00:22] dmitry-a-morozov commented on #84
I think I'm ready to address this issue and add support for generic retry functionality.
As it's been mentioned above it's not trivial to centralize/generalize re-try logic for sql command  types generated by the type provider. This is mostly due to the fact that Execute/AsyncExecute type signatures are unique per command type (as oppose to raw ADO.NET SqlCommand).

One way to do it is :
[code]

B

[2015-10-19 00:28] jorgef commented on #84
Hi Dmitry,

Could you please provide a usage example for the constructor alternative?

Thanks

Jorge

[2015-10-20 21:15] CalvinDale commented on #171
I verified that it's working. I couldn't reproduce the situation when it didn't work.

[2015-10-20 21:15] #171 closed

[2015-10-20 21:36] dmitry-a-morozov commented on #171
One limitation that you need to be aware of is that included file i.e. app.ConnectionStrings.config should be in same folder or below. It cannot be in folder above even if you use relative path in app.config. "..\MyFolder\myfile.config" won't work

Another thing to keep in mind is that at run-time included file should be deployed along side with app.config/web.config

[2015-10-21 01:45] dmitry-a-morozov commented on #84
Hi Jorge,
It took me some time to put experimental branch together.
Here is unit tests that also can serve as a sample.
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/Retry/src/SqlClient.Tests/Retry.Tests.fs

Basic idea that you pass in ```error``` callback into command constructor. The callback type signature ```SqlException -> bool```. If it returns ```true``` command will be re-execut

[2015-11-06 01:07] OkayX6 opened #172 "Best practices for code to be schema migration friendly?"
Hi!

Let's say I have a query like this:
[code]

Now let's say I am adding a new column with default value. Structurally, the code could be resistant to that change, right?
I was expecting my code to be robust to such changes but no, it crashes:

[code]

That means I have to write my queries with explicit column names like this:
[code]

What is your position on that?

[2015-11-06 01:35] dmitry-a-morozov commented on #172
I think you're right.
Unfortunately it requires changes at very internals of implementation.
This is not an easy fix but I will try to get it done.

[2015-11-11 21:39] tpetricek opened #173 "Supporting other database engines"
I finally spent some time playing with this project and it's great :-). I inserted a brief mention in the [last module of my F# Data Pluralsight course](https://app.pluralsight.com/library/courses/accessing-data-fsharp-type-providers/table-of-contents).

I'm working with one company and I think the SQL Command provider would be a great fit for them, except that they're using MySQL.

As far as I ca

[2015-11-11 22:29] lefthandedgoat opened #174 "Connection Leak"
I could not find any previous related issues.  I have repro steps an a work around and I think I know what the source of the problem is.

[code]

This will fail after the 10th query (max pool size is 10)

Changing
```runQuery() |> ignore```
to
```runQuery() |> Seq.head |> ignore```

Fixes the problem.

We are ignoring the results of the cmd.Execute because its a stored proc that modifies things an

[2015-11-11 22:45] dmitry-a-morozov commented on #173
I'm glad you like it !
I was pleased to find out that it made to your Pluralsight course.
It still takes me a lot of effort to maintain this project.

Unfortunately I don't think MySQL support is realistic.
See my answer to Phil's request about Oracle support.
https://github.com/fsprojects/FSharp.Data.SqlClient/issues/157

I think SQLProvider is your the best bet at the moment.

[2015-11-11 23:00] dmitry-a-morozov commented on #174
Thanks for reporting that.
Just curious: does the stored procedure return a result set in addition to modifications?
Because if it's only data updates a result type suppose to be of type<int>.

[2015-11-11 23:01] tpetricek commented on #173
Yeah, I suspect that getting the info about parameters and result types might be an issue. I started looking at [the MySQL `EXPLAIN` construct](http://dev.mysql.com/doc/refman/5.7/en/explain.html) but that does not seem to be useful.

If there is no way to get the info, then I'd have to do something else (like run the query with sample parameter values and do dynamic reflection...). This would the

[2015-11-11 23:39] dmitry-a-morozov commented on #173
Yep. seems like EXPLAIN is not very helpful. Result set columns types can be probably inferred via something like
[code]
But it needs to be double check. It depends on ADO.NET MySql provider support.
Inferring parameters types will be really hard if possible at all.

[2015-11-12 00:13] lefthandedgoat commented on #174
Due to the other issue I reported (which I still havent had a chance to look into), the proc does return a bogus result set at the top, to prevent the built in sql procedure from traversing further to find out what the real result set is and discovering a circular reference =).

[2015-11-14 16:14] jamessdixon opened #175 "Generated Types for SqlProgrammabilityProvider: Does not support non-dbo"
Make a connection to the OOB Adventure Works 2014 database and create this type:
type AdventureWorks = SqlProgrammabilityProvider<connectionString>

When you try and traverse dbo, you can see via intellisense that the table's type is being generated
![image](https://cloud.githubusercontent.com/assets/1394644/11164499/8c83c3ea-8ac0-11e5-8c9c-cf6fa28a8a5d.png)

When you try and traverse any of the o

[2015-11-14 21:10] dmitry-a-morozov commented on #175
https://msftdbprodsamples.codeplex.com/releases/view/125550
Which one out of these OOB Adventure Works 2014?

I use regular AdventureWorks for testing
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/DataTablesTests.fs

[2015-11-14 23:40] jamessdixon commented on #175
Adventure Works 2014 Full Database Backup.zip <https://msftdbprodsamples.codeplex.com/downloads/get/880661>

From: Dmitry Morozov [mailto:notifications@github.com]
Sent: Saturday, November 14, 2015 4:11 PM
To: fsprojects/FSharp.Data.SqlClient <FSharp.Data.SqlClient@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>
Subject: Re: [FSharp.Data.SqlClient] Generated Types for SqlProgrammabilit

[2015-11-17 19:23] dmitry-a-morozov commented on #175
I cannot repro this.
It would be great of you can help me to replicate incorrect behavior.
I use AdventureWork 2015 as test database.
Those tests include data tables from Production schema.
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/DataTablesTests.fs

It must be some permissions/security related issue.
Make sure an user that you use at design time has acce

[2015-11-17 19:26] jamessdixon commented on #175
can you send me an email to jamessdixon@gmail.com with your ip?
I will add you to my azure firewall rules and then send you the script I ran
Perhaps this is an azure thing?

On Tue, Nov 17, 2015 at 2:23 PM, Dmitry Morozov <notifications@github.com>
wrote:

[2015-11-17 19:43] dmitry-a-morozov commented on #175
I have same set of tests passing for sql azure version of AdventureWorks too.
The only difference that I could not find AdventureWorks 2014 for Azure so I use 2012 version.
http://msftdbprodsamples.codeplex.com/releases/view/37304

I'm currently in a office so I'll send you my home ip later this evening.

[2015-11-18 20:45] dmitry-a-morozov commented on #175
I think I figured it out.
Try to add reference to Microsoft.SqlServer.Types assembly.

[2015-11-18 22:31] jamessdixon commented on #175
I am around tonight if you want to chat…

From: Dmitry Morozov [mailto:notifications@github.com]
Sent: Tuesday, November 17, 2015 2:44 PM
To: fsprojects/FSharp.Data.SqlClient <FSharp.Data.SqlClient@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>
Subject: Re: [FSharp.Data.SqlClient] Generated Types for SqlProgrammabilityProvider: Does not support non-dbo (#175)

I have same set of tests

[2015-11-18 23:34] dmitry-a-morozov commented on #175
Let's try.
Google hangouts?
What time is good for you?

[2015-11-19 00:15] jamessdixon commented on #175
Sure

I am here now until 9PM eastern

From: Dmitry Morozov [mailto:notifications@github.com]
Sent: Wednesday, November 18, 2015 6:35 PM
To: fsprojects/FSharp.Data.SqlClient <FSharp.Data.SqlClient@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>
Subject: Re: [FSharp.Data.SqlClient] Generated Types for SqlProgrammabilityProvider: Does not support non-dbo (#175)

Let's try.
Google hangout

[2015-11-19 23:33] #175 closed

[2015-11-20 17:20] Overlord-Zurg opened #176 "Support for return values"
My company's database procedures use return values pervasively. Could they be optionally supported by SqlProgrammabilityProvider?

e.g. a "UseReturnValue" type parameter which changes the return value of an execution from (RecordSet) to a tupled (ReturnValue, RecordSet)

    type Db = SqlProgrammabilityProvider<
        ConnectionStringOrName = DEV_CONN_STRING,
        UseReturnValue = true>

[2015-11-24 18:34] dmitry-a-morozov commented on #167
@smoothdeveloper Here interesting and relevant post on the subject
http://blog.marcgravell.com/2014/06/snk-we-need-to-talk.html

What's your particular reason to consume strongly signed assemblies?

[2015-11-24 23:02] panesofglass opened #177 "Make pattern matching work for SqlEnumProvider"
When using `SqlEnumProvider` and a single value to generate a module of string values, the generated output does not mark each string value with the `LiteralAttribute`, thereby rendering such generated types useless in pattern match expressions. Please generate the `LiteralAttribute` for those constant values so they can be used in pattern match expressions.

[2015-11-25 02:49] dmitry-a-morozov commented on #176
I'm working on that. How urgent is that?

[2015-11-25 06:19] dmitry-a-morozov commented on #163
not going to work

[2015-11-25 06:19] #163 closed

[2015-11-25 06:30] rojepp commented on #163
Out of curiosity, why won't it work? @dmitry-a-morozov

[2015-11-25 18:39] dmitry-a-morozov commented on #163
A little bit of context.
The primary objective is to improve an experience when developer meant to use file but mistypes path. Currently in such case file probing logic falls back to treating content of CommandTextOrFile parameter as T-SQL throwing something irrelevant like "SQL batch cannot be analyzed because of errors ... "
It gets especially confusing in case of
https://github.com/fsprojects/F

[2015-11-25 19:08] rojepp commented on #163
Good explanation, thanks! I agree it looks kind of weird the relative path and file protocol.

[2015-11-25 19:22] dmitry-a-morozov commented on #163
I still want to make the file probing logic a little smarter.
I'll ship a new version and collect feedback.
If it will do more harm than help I'll rollback to current version.
BTW, https://github.com/fsprojects/FSharp.Data.SqlClient/issues/123 will be solved by making SqlCommand generative types.
*IF* it will work out I'll probably prohibit using file references in SqlClient (former SqlProgrammabi

[2015-11-25 19:32] rojepp commented on #163
SqlClient can't be generated too?

[2015-11-25 19:48] dmitry-a-morozov commented on #163
As I described in https://github.com/fsprojects/FSharp.Data.SqlClient/issues/162
their functionality will largely overlap so I want to differentiate them by optimizing for different scenarios.
You can see progress on SqlClient here
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/V2/src/SqlClient.Tests/CreateCommand.fs

Somebody else helps me to make SqlCommand generative types. The work i

[2015-11-25 23:00] smoothdeveloper commented on #167
@dmitry-a-morozov thanks for coming back on the matter.

The reason I need it to be strongly signed is that I intend to ship it with signed application at my work, I think usage of signed assemblies in my case pertains to _because that is what their corporate policy says they must do_.

It would rock if nuget had an option to post sign assemblies.

If it's not something you want to spend time with

[2015-11-26 18:12] dmitry-a-morozov commented on #167
My primary concern that once I buy into strong naming I wont't be able to take dependency on any unsigned assembly which will be big limitation.
Probably the best solution is to have 2 versions of the library on nuget - signed and unsigned.
How hard for you to keep building from sources?
I can probably do better job by tagging releases.

[2015-11-26 21:19] dmitry-a-morozov commented on #173
I'm going to close this.
I hope you don't feel that I unreasonably refused to accommodate your request.
Another thing I'd like to mention that by rough estimate 70% of codebase in current implementation is Sql Server specific.
Although reusing 30% of code for other DB vendors seems like right objective it will come at high re-factoring/maintenance price.

[2015-11-26 21:19] #173 closed

[2015-11-27 00:29] tpetricek commented on #173
Sounds good, thanks for the detailed info :-) I'm certainly happy to close this!

[2015-11-30 13:57] vasily-kirichenko opened #178 "Code that uses the TP does not compile if VS 2013 is not installed"
Clean win 10 + VS 2015 (only) installation:

![image](https://cloud.githubusercontent.com/assets/873919/11473420/2c59659a-976a-11e5-968f-3c0aa18717c0.png)

[2015-11-30 13:58] vasily-kirichenko commented on #178
Ooops, it's the MS one.

[2015-11-30 13:58] #178 closed

[2015-11-30 14:36] Overlord-Zurg commented on #176
Not urgent. It will likely be at least a year before we would make widespread use of it.

[2015-11-30 19:04] smoothdeveloper commented on #167
@dmitry-a-morozov I'll work around this by building my own releases. Thanks.

[2015-11-30 19:39] dmitry-a-morozov commented on #84
@jorgef Seems like there is better support to address the issue starting .NET 4.6.1 (see "Improve connection open resiliency when connecting to Azure SQL Database")
http://blogs.msdn.com/b/dotnet/archive/2015/11/30/net-framework-4-6-1-is-now-available.aspx

[2015-11-30 23:16] dmitry-a-morozov opened #179 "Remove static Create factory for SP/Functions command types"
The issue
https://github.com/Microsoft/visualfsharp/issues/449
only affects top level type.
Stored procedure/function command types are always nested therefore static Create factory method can be removed in favor of regular ctor.
I still keep Create on SqlCommandProvider generated types.

[2015-12-08 11:26] jdwalker opened #180 "SqlProgrammabilityProvider documentation is incorrect"
In the [configuration document](http://fsprojects.github.io/FSharp.Data.SqlClient/configuration%20and%20input.html), the following is stated:

[code]

However this is incorrect - the provided types and schemas have no constructors. Instead you have to specific it as an  optional parameter/parameter on the stored procedure call itself e.g.

[code]

[2015-12-14 18:05] dmitry-a-morozov commented on #173
@tpetricek I could not resist to do some research about MySqlCommand type provider. Technically it should be possible.
There are 2 ADO.NET providers out there:
1) one from Oracle https://www.nuget.org/packages/MySql.Data/
2) and https://www.devart.com/dotconnect/mysql/components.html

Of course Oracle's version is preferable for many reasons. I only looked at devart because that claim to be able t

[2015-12-16 17:47] #167 closed

[2015-12-25 23:39] dmitry-a-morozov commented on #172
fixed in v1.8

[2015-12-25 23:39] #172 closed

[2015-12-25 23:39] dmitry-a-morozov commented on #174
fixed in v1.8

[2015-12-25 23:39] #174 closed

[2015-12-25 23:39] dmitry-a-morozov commented on #176
fixed in v1.8

[2015-12-25 23:39] #176 closed

[2015-12-25 23:39] dmitry-a-morozov commented on #177
fixed in v1.8

[2015-12-25 23:39] #177 closed

[2015-12-25 23:39] dmitry-a-morozov commented on #179
fixed in v1.8

[2015-12-25 23:39] #179 closed

[2015-12-25 23:39] dmitry-a-morozov commented on #180
fixed

[2015-12-25 23:39] #180 closed

[2015-12-25 23:40] dmitry-a-morozov commented on #151
close because I cannot repro this

[2015-12-25 23:40] #151 closed

[2015-12-30 20:41] smoothdeveloper commented on #131
@dmitry-a-morozov in last release of provider with this change:

https://github.com/fsprojects/FSharp.Data.SqlClient/blob/e01b96a87df0ca2d9cb89ccdde02ae9e97c83bcc/src/SqlClient/ISqlCommand.fs#L63

this break my infrastructure code:

[code]

as there is no more constructor to pass connection, transaction and timeout.

How can I replace my function with newest release which takes a `DesignTimeConfig

[2015-12-30 21:30] dmitry-a-morozov commented on #131
Hi @smoothdeveloper
I apologize for breaking change but I believe it's for better.

Starting v1.8 there are 2 ctors on every instance of command
 - (^a : (new : string -> ^a) "server=.;database=AdventureWorks;Trusted_Connection=yes")
 - (^a : (new : option<SqlConnection> * option<SqlTransaction> * option<int> -> ^a) (conn, tx, timeout))

Ctor #2 allows optionally reconfigure any available property

[2015-12-30 22:10] dmitry-a-morozov commented on #131
@vasily-kirichenko @smoothdeveloper
Do you it will be a good idea to have single ctor with following type signature
[code]

[2015-12-30 22:25] smoothdeveloper commented on #131
@dmitry-a-morozov thanks for the quick update, I'll try the new constructor, I welcome changes to this great library and hope I won't be stuck with updates.

In your proposition, why is the first parameter optional?

For a single constructor, I'd be very happy if there was a way to pass `unit -> SqlCommand` as an extra option, I think it could look like this:

[code]

I don't know if that makes se

[2015-12-31 00:28] OkayX6 opened #181 "Support SQL IN operator?"
Hi,

I was trying to use this in a command ```SELECT * FROM table WHERE col IN (@ids)```
But it doesn't work as expected.

The **ids** parameters is a string (**col** is of type string), and not an array of strings.
Formating a list of values as ```'A', 'B', 'C'``` doesn't work because if I switch to a column with an integer type, then the parameter for the SQL Command provider becomes a single in

[2015-12-31 01:29] dmitry-a-morozov commented on #181
http://stackoverflow.com/questions/26248397/how-to-use-sql-in-statement-in-fsharp-data-sqlclient

[2015-12-31 02:02] OkayX6 commented on #181
Ok thanks, I did it this way in the end.
Yes, I was spoiled by other ORMs :)...

[2015-12-31 02:03] #181 closed

[2015-12-31 02:57] dmitry-a-morozov commented on #181
It's not about ORM.
T-SQL doesn't have concept of multi-valued parameters.
Thus TVP.

[2015-12-31 15:17] panesofglass commented on #177
Thank you!!!

[2015-12-31 18:42] jtmueller opened #182 "Documentation loses all styling when viewed over HTTPS"
The documentation has hard-coded HTTP url's for external scripts and stylesheets, which do not load when the page is viewed over HTTPS.

For example:
![image](https://cloud.githubusercontent.com/assets/46023/12067211/b837a43c-afbb-11e5-8055-bb752bef5dc5.png)

There's an easy fix: delete `http:` from the link and script tags.

Before:
`<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.

[2016-01-05 16:51] dubiousdavid opened #183 "AsyncExecute under Mono throws exception"
The following code

[code]
produces the following error under mono
```The specified name does not exist: @startDate at System.Data.SqlClient.SqlParameterCollection.get_Item (System.String parameterName)```

Under windows everything works fine, and it compiles under mono. Changing the call to use `Execute` works fine under mono.

[code]

Running

Mono 4.2.1
FSharp.Data.SqlClient 1.7.7
OSX 10.10.5

[2016-01-08 22:06] smoothdeveloper opened #184 "feature request: add parameters and fields description."
Considering

[code]

it would be nice to have
[code]

The reason is to help get rid of magic strings and improve static checking of code which still rely on plain `System.Data.SqlClient.SqlCommand` based on the provided commands.

One reason I have to do that is that I need to strip out the `with result sets` of my commands to support older versions of SQL Server.

All this would be moot whenever

[2016-01-12 16:03] LessIsMore1 commented on #79
Same problem with creating and Web Api using
*VS 2015 Upd1
*ASP.NET5 RC1 Upd1
*SqlClient 1.8

[2016-01-12 17:09] dmitry-a-morozov commented on #79
@LessIsMore1 As of now the only solution is to use binding redirect.

[2016-01-16 11:08] isaacabraham opened #185 "Can't get connection string from app.config through .fsx file."
Have a .fs file which contains my data access. I've set the connection string based on config file connection string setting e.g. ```"name=MyDatabase"```. If I try to load this file from a .fsx file, initially this failed to even compile because my script is not in the same location as the .fs file. I fixed this by specifying the path in interactive mode as a compiler directive e.g.

[code]

which

[2016-01-26 03:32] dmitry-a-morozov commented on #185
A logic to lookup for config file is different at design time and run-time.
I know it's confusing but benefits outweigh the trouble.

__At design time__ the type provider reads config file relative to resolution folder. The resolution folder for  VS project is project folder. For *.fsx script it's file folder.
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/8b7462e9b5322867c7fb91115c64215

[2016-01-27 05:42] dmitry-a-morozov commented on #185
Can you try v1.8.1-alpha?
https://www.nuget.org/packages/FSharp.Data.SqlClient/1.8.1-alpha
I fixed the issue in that version.
If it's ok I will promote it to prod release.

[2016-01-27 06:09] dmitry-a-morozov commented on #131
@vasily-kirichenko @smoothdeveloper
I implemented DU
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/4631e581a3acb3ac942cf78ae6f5d93a71804824/src/SqlClient/Configuration.fs#L22
So now there are 2 ctors on generated command types:
  1. accepts mandatory connection string most often used for IOC/configuration factories
  2. has 2 _optional_ params: connection of type ```Connection``` and ``

[2016-01-27 11:10] isaacabraham commented on #185
Sure, give me a day or so - will let you know :-)

Thanks!

[2016-02-02 18:30] kbilsted opened #186 "SqlCommandProvider does not check for missing non-nullable columns on insert"
Using v.1.7.7 of FSharp.Data.SqlClient I was surprised that the type provider does not check for non-null columns. This led to run-time errors when I added columns to my db table where I was expecting compile-time errors. Here is a simple reproduction scenario

**setup db**

[code]

**Start server**
shell>  .\SqlLocalDB.exe c kasperdb -s

**F# program**

[code]

**Error**
When I run my program i g

[2016-02-03 02:26] smoothdeveloper commented on #186
@kbilsted the type provider relies on sys.sp_describe_undeclared_parameters and sys.sp_describe_first_result_set but is not running further analysis of SQL code.

Also consider that in some circumstances, the statement might be valid (default values, triggers, maybe other things) so it would actually be difficult / exensive to have a compile time check which is working in 100% of the cases.

[2016-02-03 07:34] kbilsted commented on #186
Hi @smoothdeveloper

Thanks for the quick reply - and a great library ;). Why is it a problem to find all non-null non-default columns of an insert?

e.g. use

[code]

The trigger argument is a separate can of worms and may already today create problems. Recall, that a before-trigger may completely alter the actual insert that is performed, and hence will not be compatible with the library as it i

[2016-02-03 09:33] smoothdeveloper commented on #186
@kbilsted, sorry I'm not one of the maintainers of this great library, but I'm sure you'll get a more thorough answer from them soon, with maybe more positive outcome for your suggestion.

I know it's possible to query the column information, what I meant regarding performance is the number of things the type provider has to check. On projects where lots of those are being declared there is a sign

[2016-02-03 16:44] dmitry-a-morozov commented on #186
@kbilsted
Primary purpose of the library is to provide static types for input parameters and output result-set.
Thing that you mention falls into category of formal code verification which can be quite tricky.
Remember sql statement you feed into type provider can be arbitrary complex. For example you can have a logic that will insert different data depending on some condition. Also, as @smoothdev

[2016-02-04 12:47] MangelMaxime opened #187 "Using SqlCommandProvider with app.config"
Hello guys, I can't find a way to use my app.config settings with SqlCommandProvider.

I tried :
[code]

But it's say  :  The type 'FSharp.Data.SqlCommandProvider' doesn't wait any arguments of type but receive 3 argument(s) of type.

I tried to base my code on : [https://github.com/fsprojects/FSharp.Data.SqlClient/blob/b3f2eb3b13de34bbe8fd18820af627d04019662f/src/SqlClient.Tests/Scripts/SqlComman

[2016-02-04 18:32] dmitry-a-morozov commented on #187
Can you try inline T-SQL and see of you get the same error? It can be *.sql file related problem.

[2016-02-04 18:52] MangelMaxime commented on #187
Hum, sound strange.
I was try the previous code at work and got the errors.

And tonigth I just tried it at home (another computher) and it's working.

Not sure what is the difference. I will try to save the current version of the code and test it exactly as it tomorrow.

[2016-02-04 19:04] dmitry-a-morozov commented on #187
did you use same version of the library?

[2016-02-05 09:22] MangelMaxime commented on #187
@dmitry-a-morozov Seems to work now.

I used Azure and not my local sql server and it work as it.
I think, I have some configuration problems on the local sql server so nothing to do with the library probably.

Sorry and thanks for your time.

[2016-02-05 09:22] #187 closed

[2016-02-08 22:30] jackfoxy opened #188 "Metadata from SqlCommandProvider"
Given an instantiated type

type MySqlType = SqlCommandProvider<...>

use cmd = new TestFirstResultSet(conn)

1) new method DescribeFirstResult(params : string option, browseInformationMode : BrowseInformationMode)
	BrowseInformationMode.NoInfo 0
	BrowseInformationMode.ForBrowse 1
	BrowseInformationMode.ForCursor 2

2) new method ShowPlan() returns XML:
SET SHOWPLAN_XML ON;
	GO
<sql from type>

3)

[2016-02-08 22:31] jackfoxy opened #189 "continuous deployment"
missing pieces like test database

[2016-02-20 14:09] smoothdeveloper opened #190 "SqlEnumProvider fails to compile when query has more than 2 fields."
Given:
[code]

I'm getting this error at compile time:

[code]

I'm fixing this bug in a branch and will make a PR shortly.

[2016-02-29 10:21] isaacabraham commented on #189
hmmm? I'm using the TP in a CI environment along with FAKE - works very well.

[2016-02-29 10:28] isaacabraham commented on #185
@dmitry-a-morozov Hey. I'm a bit late but finally trying this out. What's the best way to validate this? Currently what I've done is simply replace the ```[<Literal>] let connectionString = ""``` with an if interactive to set a hard coded connection string for the script. Ideally I would like to just have the connectionString as e.g. ```name=MyDb``` and it work within script and application.

[2016-02-29 21:16] jackfoxy commented on #189
@isaacabraham  this was a reminder to @dmitry-a-morozov about something we discussed...

I can't recall exactly, but these were the words he wanted me to use. I think he wants to build out the CI environment further.

[2016-02-29 21:50] dmitry-a-morozov commented on #189
@isaacabraham Currently the project itself completely lacks proper CI setup with unit tests. It needs to be fixed.

[2016-03-01 08:00] isaacabraham commented on #189
Oh - sorry. I thought this was about a CI story for when using the TP :-)

[2016-03-04 07:36] dmitry-a-morozov commented on #190
fixed in 1.8.1.
Thanks for PR !

[2016-03-04 07:36] #190 closed

[2016-03-04 07:40] dmitry-a-morozov commented on #185
@isaacabraham The fix deployed with ver 1.8.1.
https://www.nuget.org/packages/FSharp.Data.SqlClient/1.8.1.
In v 1.8.1 generated commands do not go thru standard .NET BCL api to fetch value of connection string but rather reuse same value as at design time. I thought this is the best solution because in interactive FSI connection string value doesn't change between design time and compile time.

[2016-03-04 07:40] #185 closed

[2016-03-04 17:45] dmitry-a-morozov commented on #160
done in v 1.8.1

[2016-03-04 17:45] #160 closed

[2016-03-05 20:54] #161 closed

[2016-03-06 17:46] jackfoxy opened #192 "invert order of release notes so most recent is on top"

[2016-03-06 18:04] dmitry-a-morozov commented on #192
great suggestion ! I will start doing that.

[2016-03-08 16:30] pisees opened #193 "Dynamic SQL"
Is there a way to do dynamically construct a query. I see in example parameterized query used in WHERE clause, but for what if I wanted to determine the number of columns in a select clause at runtime?

[2016-03-08 16:44] dmitry-a-morozov commented on #193
The library by design relies on static analysis at compile time. If you need to construct queries dynamically consider either raw ADO.NET or Dapper.

[2016-03-17 23:45] dmitry-a-morozov commented on #183
Make sure command instance itself is not disposed before async evaluated.
For example
[code]

[2016-03-18 00:10] #84 closed

[2016-03-22 08:14] mvkra opened #194 "Allow database metadata to be saved to a local file"
Would really like it if this were possible; I might be able to contribute if required. I would like the database to be a dependency only during the first build against it on my dev machine; having the database as a hard dependency on the build is a showstopper to using this library for us. Some other type providers allow this via a local schema file argument to the type provider. This helps with C

[2016-03-23 18:30] dmitry-a-morozov opened #195 "Make connection param mandatory when literal conn str used at design time"
At the moment there are 2 ctors on generated command types:
 1. `connection: string * ?commandTimeout: int -> 'Command`.
 2.  `?connection: SqlConnection * ?transaction: SqlTransaction * ?commandTimeout: int -> 'Command`.

The fact that all parameters are optional for the second constructor allows to create instance of command without providing any parameters. In that case connection string provid

[2016-03-23 19:04] dmitry-a-morozov opened #196 "API based run-time configuration"
["Result set runtime verification"](http://fsprojects.github.io/FSharp.Data.SqlClient/debugging.html) feature is  nice but it took dependency on app.config file and System.Configuration API. This is sub-optimal for all kind of reason. It would nice to configuration API from particular persistence.

Ideal pseudo usage code can look like:
[code]
Configuration instance must be singleton and thread-sa

[2016-03-23 22:11] ntr opened #197 "Statically typed data table ctor fails when *.config file is missing at runtime"
Currently if SqlClient is using connection string from app.config at design time it also expects this connection string available in app.config during the runtime.
When I am calling data table constructor and app.config connection string is not provided I am getting exception:

[2016-03-25 00:42] dmitry-a-morozov commented on #188
@ntr Reconcile this issue with #184

[2016-03-25 17:00] dmitry-a-morozov opened #198 "Support SQL Azure test db deployment"
As of now Fake build script supports test database deployment (AdventureWorks2012 + extras) only into on-prem SQL Server.
Change it to support SQL Azure too.
Most likely this involves going away from *.mdf file to script based deployment.

[2016-03-25 18:45] dmitry-a-morozov commented on #183
@dubiousdavid
I realize that my response was extremely slow but
Can I close the issue?

[2016-03-25 18:48] dmitry-a-morozov opened #199 "Support for Stored procedure and Functions Synonyms"

[2016-03-25 18:49] dmitry-a-morozov opened #200 "Support for Table Synonyms"

[2016-03-25 19:36] dmitry-a-morozov opened #201 "Units of measure kind support in SqlEnumProvider"
So definition
[code]

will produce something similar to

[code]
Except that it will be root hosting type instead of module

[2016-03-25 20:08] dmitry-a-morozov opened #202 "Logo upgrade to be consistent with other popular F# OSS projects"
Upgrade logo to rectangular shape same as
http://bluemountaincapital.github.io/FSharpRProvider/images/logo.png
or
http://bluemountaincapital.github.io/Deedle/images/logo.png

1. F# logo goes to upper-left
2. Current background color needs to be preserved
3. T-SQL barrel goes to bottom-right

Current logo location:
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/docs/files/img/logo.

[2016-03-25 20:18] dmitry-a-morozov opened #203 "Statically typed DataSet"
1. Includes all database tables
2. Navigation support
3. Ideally reuses same erased types for tables
[code]

[2016-03-26 05:31] dmitry-a-morozov commented on #194
This is not a trivial thing to do. But I promise to think about it.

[2016-03-29 08:20] sergey-tihon commented on #202
Something like this?
![image](https://cloud.githubusercontent.com/assets/1197905/14101907/36363040-f5a0-11e5-887c-ea98b01422b5.png)

[2016-03-29 16:02] dmitry-a-morozov commented on #202
Yep. Looks good. Thank you

[2016-03-30 02:48] #202 closed

[2016-04-04 00:23] #183 closed

[2016-04-06 21:23] Lenne231 commented on #194
This would be really nice! Are there any other good solutions with CI builds today?

[2016-04-06 21:25] dmitry-a-morozov commented on #194
The only solution as of today is to have actual database. Sql Express or LocalDB are not that bad to use for CI.

[2016-04-06 22:19] Lenne231 commented on #194
[code]

Is it possible to have something like this?
This way it would be possible to use another connection string on the build server at compile time.

[2016-04-06 22:23] dmitry-a-morozov commented on #194
I was thinking about it. Maybe it's not a bad idea.
What do you use at design time: connection string literal or config file?

[2016-04-06 22:37] Lenne231 commented on #194
I'm using a connection string literal, but i thought about using a config file with a connection string and  to replace it using a build script on the build server as a workaround.

[2016-04-14 11:53] Overlord-Zurg opened #210 "SqlProgrammabilityProvider - can't specify connection at runtime for Tables"
### Description

When instantiating a stored procedure via SqlProgrammabilityProvider, or anything created by SqlCommandProvider, constructors are provided that accept a connection string or an SqlConnection object so that the DB may be specified at runtime. No constructor is provided for table access.

### Existing behavior for SqlCommandProvider

    type lookup = SqlCommandProvider<"select * fr

[2016-04-14 15:38] dmitry-a-morozov commented on #210
Both Update and BulkCopy accept optional connection and/or transaction params.

[2016-04-19 17:07] #168 closed

[2016-04-26 16:20] smoothdeveloper commented on #149
@dmitry-a-morozov it would still be nice to have the provider expose a `.ExecuteReader` method IMHO, taking the same arguments as the plain `.Execute` one, this allows to keep the safety of parameter passing.

[2016-04-26 16:39] smoothdeveloper opened #213 "Support typed datatable result for SqlCommandProvider"
In UI context, it is often useful to load data in a DataTable.

A typed DataTable could be generated for each instanciation of SqlCommandProvider.

[2016-04-26 18:01] dmitry-a-morozov commented on #149
That exactly what is ResultType.DataReader for.

[2016-04-26 18:04] dmitry-a-morozov commented on #213
ResultType.DataTable

[2016-04-26 18:12] smoothdeveloper commented on #213
Thanks I was unaware of this.

I guess it would really make sense to not have to declare several queries / not have as strong correlation between the SQL and how the result is used.

[2016-04-26 18:15] dmitry-a-morozov commented on #213
Use
[code]

[2016-04-26 18:17] dmitry-a-morozov commented on #213
Also these statically typed DataTables generated by SqlCommandProvider have same support for Update/BulkCopy as direct tables.
http://fsprojects.github.io/FSharp.Data.SqlClient/data%20modification.html

[2016-04-26 19:02] smoothdeveloper commented on #213
Do you think it is doable to expose separate method? The underlying infrastructure to support various types is there so I could make a contribution if you think it is worth a shot.

[2016-04-26 19:20] dmitry-a-morozov commented on #213
I think declaring 2 types is not too bad.

[2016-04-26 21:27] smoothdeveloper commented on #149
@dmitry-a-morozov, saw your other answer for DataTable, do you foresee a problem if we were to leave the option open on a SqlCommandProvider instance with different methods?

Having to define several instances of SqlCommandProvider with different names just to leverage different result types is a bit cumbersome, if there is no technical limitation, why won't we leave the choice at usage site inste

[2016-04-27 15:25] smoothdeveloper opened #214 "Add SqlCommand.Table type when ResultType = ResultType.DataTable"
When using

[code]

I'd like to have the DataTable type exported:

[code]

Right now I can do this:

[code]

[2016-04-27 15:37] dmitry-a-morozov commented on #214
Agree

[2016-04-27 15:40] smoothdeveloper commented on #214
I can contribute this feature if you like some help.

[2016-04-27 15:45] smoothdeveloper opened #215 "when using ResultType = ResultType.DataTable, rows properties don't have a setter"
[code]

this gives `Property 'value' cannot be set.`

I'd like to be able to use it for mutation as well

[2016-04-27 15:45] dmitry-a-morozov commented on #214
Sure. Give it a shot.
Can you describe a scenario you need it for?

[2016-04-27 15:55] smoothdeveloper commented on #214
In interop context with C#, I'm exposing a DataTable property in a record, but I'd like to retain the type in my F# code.

[2016-04-27 16:10] dmitry-a-morozov commented on #215
Of course column values are mutable in most common case.
Is it computed column?

[2016-04-27 16:19] smoothdeveloper commented on #215
You are right, this is what I have in the SQL select statement:
[code]

Am I going to be forced to use `WITH RESULT SETS` which is kind of painful to maintain in my queries (and I need to hack the sql string since I support SQL 2005/2008).

[2016-04-27 20:21] smoothdeveloper opened #216 "use paket instead of several packages.config files"
This project is still relying on tedious low level nuget dependencies (don't handle transitive dependencies properly, forces updating project files when updating a version of a dependency, no consistency check among all the packages.config files).

I could contribute migration to paket if maintainers are OK, I can also do the same in the separate V2 branch.

Would you take contribution to migrate

[2016-04-27 20:40] dmitry-a-morozov commented on #216
Do you mean output package dependencies or TP project itself?

[2016-04-27 20:42] smoothdeveloper commented on #216
@dmitry-a-morozov I mean handling of dependencies, but not how the FSharp.Data.SqlClient nuget package is created / published.

At least as a first step.

[2016-04-27 20:47] dmitry-a-morozov commented on #216
Can you give an example of dependency?

[2016-04-27 20:53] smoothdeveloper commented on #216
@dmitry-a-morozov

instead of having those in scattered packages.config files, we can make a single `packet.dependencies` and organize groups (one for testing, one for samples, etc.)

* FSharp.TypeProviders.StarterPack
* FSharp.Configuration
* Newtonsoft.Json
* xunit
* xunit.runner.visualstudio
* FSharp.Data.SqlClient (I think this one in the WpfDataBinding sample should just bind to the compiled

[2016-04-27 21:07] smoothdeveloper commented on #215
Would it be OK to expose an override parameter:

`MakeAllDataColumnsWriteable : bool` (or better name if you have one) to workaround this behaviour?

Passing `true` to this parameter is only valid if `ResultType.DataTable` is chosen.

[2016-04-27 21:28] dmitry-a-morozov commented on #216
But these are test/sample project dependencies except FSharp.TypeProviders.StarterPack
I don't think it makes sense to use paket to handle one FSharp.TypeProviders.StarterPack dependency

[2016-04-27 21:30] dmitry-a-morozov commented on #215
Use
[code]
syntax to work around type system

[2016-04-27 21:31] smoothdeveloper commented on #216
xunit, FSharp.Configuration, FSharp.TypeProviders.StarterPack and maybe few others are dependencies for building the repository not related to the samples.

We can leave the samples as they are but still gain ease of maintenance using paket for the more important dependencies.

[2016-04-27 21:35] smoothdeveloper commented on #213
I'm not sure adding type provider parameters is the best way to handle those, we can still support the existing one, but I think having a `SqlCommandProvider` enabling to get a datareader, tuples, records and a datatable in separate methods would make a lot more sense and don't constrain the evolution of the type providers (changing input parameters has more impact than exposing new methods/additi

[2016-04-27 21:42] smoothdeveloper commented on #215
@dmitry-a-morozov yes thanks I'm using this.

I was hopping to remove that in future because if possible, I like to erase all late binding / unchecked type from the F# and leave it only to C# client consuming the type.

We could have `.ExecuteAsWriteableDataTable`, `.ExecuteAsDataTable`, `.ExecuteAsDataReader`, `.ExecuteAsTupleSequence`, `.ExecuteAsRecordSequence` exposed instead of asking for dis

[2016-05-02 20:34] dmitry-a-morozov commented on #216
Although paket is great tool but it will be overkill for this project.
I know that you deal with particular challenge of recompiling this project.
I don't know exactly how you do it but you can run paket convert every time you pull the latest version.

[2016-05-02 21:07] smoothdeveloper commented on #216
Matters of perspective, I guess, for me maintaining packages.config (nothing checks they are consistent across the repository) and updating .proj files to match with version number on dependency update is overkill and unnecessary work.

I've done a few migrations and it seems low-risk, I only see easier maintenance compared to bare-bone usage of nuget.

The aim would be only the projects but not t

[2016-05-02 21:11] dmitry-a-morozov commented on #215
It feels like you're asking type system "lie to me" :)
I understand that you deal with SQL Server 2005/2008 but I'm hesitant to add feature to address corner case on database engine version that is not officially supported by the type provider.

`.ExecuteAsWriteableDataTable`, `.ExecuteAsDataTable`, `.ExecuteAsDataReader`, `.ExecuteAsTupleSequence`, `.ExecuteAsRecordSequence` are look like un-type

[2016-05-02 21:19] smoothdeveloper commented on #215
@dmitry-a-morozov I understand your standpoint on the methods, I'll workaround by generating several command types (I have a generator to create those based on a hierarchy of folders containing .sql files) with same sql literal.

Regarding making the property setter available disregarding origin of the column:

When user gets the data in the UI or logic code, in a DataTable, the most likely usecas

[2016-05-02 21:21] #213 closed

[2016-05-02 21:57] dmitry-a-morozov commented on #215
Similar capability already exists on statically typed tables generated by SqlProgrammabilityProvider
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/DataTablesTests.fs#L113
implementation
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/SqlClientProvider.fs#L479

of course difference that columns available on instance of table.
but I

[2016-05-02 22:20] smoothdeveloper commented on #215
Cool, I'll work on this soon. Thanks for the pointers.

[2016-05-02 22:24] smoothdeveloper commented on #215
I'm thinking they should go under `table.Columns.here` because of various naming conventions that can be observed in SQL (using snake_case mostly if done the way it is seen in SqlProgrammabilityProvider, it means `table.snake_caseColumn` instead of `table.Columns.snake_case`).

What do you think?

[2016-05-02 22:31] dmitry-a-morozov commented on #215
`table.Columns.here` is nicer but much harder to implement. I wondered if it was worth an effort.
But you can try.

[2016-05-02 22:53] #216 closed

[2016-05-03 01:04] smoothdeveloper commented on #215
@dmitry-a-morozov do you happen to know how specifying `with resultsets` would solve the lack of setter for computed column?

I'm not sure this can be achieved in the sql itself.

[2016-05-03 01:08] smoothdeveloper commented on #216
Trying to use nuget restore packages from Visual Studio in the solution and having it mess the test project with FSharp.Core binding redirect issues... Another reason why paket should be used.

[2016-05-03 13:52] smoothdeveloper commented on #215
@dmitry-a-morozov I'm able to put those under `table.Columns` and it is not too much trouble.

I'm now considering adding this to each of the DataColumn if you don't mind:

[code]

That solves the issue with handling `DBNull` instead of option and provide some type checked guarantees when getting / setting value (can't set with int if column is bool etc.) to replace direct and untyped usages
[code

[2016-05-03 17:26] dmitry-a-morozov commented on #215
Is type of `table.Columns` `DataColumnCollection` https://msdn.microsoft.com/en-us/library/system.data.datacolumncollection.aspx?
I need some time to review your PR.
So don't rush into anything.
Also, after merge some refactoring is required. It has nothing to do with PR but with how code is currently structured.  But it's related to the PR.

[2016-05-03 18:04] smoothdeveloper commented on #215
@dmitry-a-morozov

Yes, but with added properties returning the correct `DataColumn`, it works well.

We should use same methods for `SqlCommand` and `SqlClient` to generate the tables, that will shave lot of duplication.

[2016-05-03 18:58] smoothdeveloper commented on #215
I'm also considering adding literals to help with pattern matching (very useful in UI for event handlers):

[code]

We could do this for ResultType.Records as well, in which case it should be (for both) `MyCommand.ColumnNames`.

[2016-05-03 19:13] dmitry-a-morozov commented on #215
Active patterns will do just fine for that

[2016-05-03 19:28] dmitry-a-morozov commented on #215
Send PR that adds columns on Columns collection.
Don't forget re-base to master's head

[2016-05-03 19:29] dmitry-a-morozov commented on #215
And open separate issue only for that. I'm closing this one.

[2016-05-03 19:29] #215 closed

[2016-05-04 03:42] smoothdeveloper commented on #215
@dmitry-a-morozov Thanks for all feedback.

I've implemented the new feature: #219, forwarding discussion there.

[2016-05-05 20:51] dmitry-a-morozov commented on #215
@smoothdeveloper Can you explain why you have to have those fake read/write computed fields on a data row  instance? Data binding?

[2016-05-05 21:18] smoothdeveloper commented on #215
@dmitry-a-morozov I'm displaying data in UI, but some fields can't efficiently be computed in the query, they'd get populated in the data access / business layer but still part of the typed table.

This is a better solution than taking the DataTable and adding a column outside of the query, which causes issues with the Add/NewRow & probably other things.

[2016-05-05 21:25] dmitry-a-morozov commented on #215
Why don't you have something like (psudo code below)
[code]

[2016-05-05 21:30] smoothdeveloper commented on #215
Binding this in the UI is a pain compared to binding a dataview.

[2016-05-05 23:32] dmitry-a-morozov commented on #215
Do you use dynamic columns binding or specify names explicitly for individual columns?

[2016-05-06 00:01] smoothdeveloper commented on #215
my sql query has

[code]

I don't do anything for the binding

[code]

Am I understanding your question right?

[2016-05-06 00:35] dmitry-a-morozov commented on #215
Got it. So your code dynamic at nature to some extent anyway.
I mead nothing stops you from writing
`cast(null as float) column_name`
or
`cast(null as decimal) column_name`
or
`cast(null as decimal) column42`
anything.

So how's that better than
[code]

[2016-05-06 00:58] smoothdeveloper commented on #215
My query is static, it is in a .sql file that the TP is loading and turning into generated type, so the column is always a float.

Having the setter:

[code]

provides more type safety for setting and reading the value, without it (but still my column in the sql)

[code]

Compared to

[code]

While I'm in F# code, I try to avoid as much as possible using System.Data.DataRow members (which allow me

[2016-05-06 17:08] dmitry-a-morozov commented on #215
It seems like you try to solve UI tier problems via data access library.
Let's assume for a moment that I'm fine with `GetValue`/`SetValue` on columns.
But I still don't think it's reasonable to generate `SetValue` for read-only column.
So it won't solve your problem anyway.

[2016-05-06 17:16] smoothdeveloper commented on #215
We can leave UI and tiers out of consideration, I mostly want to get a typed datatable from the type provider based on the shape of my query, and have tools to edit the contents of it in type safe manner.

Without `GetValue`/`SetValue` I cannot edit the data un my F# code in a type safe manner.

I'm fine to have to resort to bare `DataRow[DataColumn]` setter but dealing with `Nullable`/`Option`/`D

[2016-05-06 17:38] dmitry-a-morozov commented on #215
Can you add read/write column to database for computed property?

[2016-05-06 17:42] smoothdeveloper commented on #215
the data is in a report tables which tend to be several gigs large so I'll refrain to implement this workaround and keep a bit of type unsafety in the code :smile:

[2016-05-10 23:58] smoothdeveloper opened #223 "reduce size of generated code"
I was looking at the il generated (in C# via ilspy) for the unit tests and figured out that there was scope for reducing a lot the size of generated code if we introduce helper methods and call those instead of having large quotations.

The current connection checking is quite verbose, I'm sure there are other areas that could be slimmed a bit as well.

before

[code]

after

[code]

[2016-05-11 00:00] smoothdeveloper opened #224 "Table Valued Parameters and ToDataTable conversion function"
I intend to use Table Valued Parameters but unfortunately I'll use them with stored procedures that rely on dynamic SQL, I'd still like to benefit from the types being available to me via `SqlProgrammabilityProvider`.

Would it be ok to add a `ToDataTable` static function on the TVP UDDT taking a seq of the UDDT item?

[2016-05-11 00:03] dmitry-a-morozov commented on #223
Can you be more specific?
Maybe send github links?
I thought most of connection checking happens here
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/ISqlCommand.fs#L61

[2016-05-11 00:13] smoothdeveloper commented on #223
I was looking at the highlighted code

![image](https://cloud.githubusercontent.com/assets/87944/15166277/90dc397e-171d-11e6-8ebc-4f520872bdb5.png)

I assume making this quotation call a static helper function would help reducing the highlighted code:

https://github.com/fsprojects/FSharp.Data.SqlClient/blob/5773dd05121afd5cea519687d85efc23a42282ee/src/SqlClient/DesignTime.fs#L533

[2016-05-11 01:16] dmitry-a-morozov commented on #223
I can wrap this into function
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/5773dd05121afd5cea519687d85efc23a42282ee/src/SqlClient/Configuration.fs#L72
which can save a bit not much
but everything else - I don't know.
It basically bridges type unsafe world of .NET like signatures to type safe F#.

[2016-05-11 21:32] dmitry-a-morozov commented on #224
I think I have a better idea. Give me some time to think it through.

[2016-05-16 05:21] dmitry-a-morozov commented on #192
Fixed in v1.8.2

[2016-05-16 05:21] #192 closed

[2016-05-16 05:21] dmitry-a-morozov commented on #195
Fixed in v1.8.2

[2016-05-16 05:21] #195 closed

[2016-05-16 05:21] dmitry-a-morozov commented on #196
Fixed in v1.8.2

[2016-05-16 05:21] #196 closed

[2016-05-16 05:21] dmitry-a-morozov commented on #197
Fixed in v1.8.2

[2016-05-16 05:21] dmitry-a-morozov commented on #197
Fixed in v1.8.2

[2016-05-16 05:22] #197 closed

[2016-05-16 05:22] dmitry-a-morozov commented on #199
Fixed in v1.8.2

[2016-05-16 05:22] #199 closed

[2016-05-16 05:22] dmitry-a-morozov commented on #200
Fixed in v1.8.2

[2016-05-16 05:22] #200 closed

[2016-05-16 05:22] dmitry-a-morozov commented on #201
Fixed in v1.8.2

[2016-05-16 05:22] #201 closed

[2016-05-16 05:22] dmitry-a-morozov commented on #214
Fixed in v1.8.2

[2016-05-16 05:22] #214 closed

[2016-05-19 17:38] dmitry-a-morozov opened #226 "allow to provide explicit value for IDENTITY columns in statically typed tables"
support SET IDENTITY_INSERT ON  scenario
Applies to  from SqlProgrammabilityProvider

[2016-05-19 17:40] dmitry-a-morozov opened #227 "support custom Date class"
ADO.NET is being known for NOT SUPPORTING Sql Server Date datatype
Allow to inject custom implementation of Date type like
[code]

[2016-05-19 18:11] smoothdeveloper commented on #227
@dmitry-a-morozov I remember there is a Date class coming in next .net framework. Just to keep in mind.

[2016-05-19 18:33] dmitry-a-morozov commented on #227
@smoothdeveloper Really? Can you send me a reference?

[2016-05-19 18:45] smoothdeveloper commented on #227
It is in corefxlab (so not officially part of dotnet core, at least right now)

https://github.com/dotnet/corefxlab/blob/9b19008b8782f668d45eb05ba155ab30a85f0c6b/src/System.Time/System/Date.cs

[2016-05-19 20:07] smoothdeveloper commented on #224
@dmitry-a-morozov do you have a vague idea what you'd prefer?

As far as I can see, the plain ADO.NET approach is to use a DataTable or other more obscure types, I think it would be a great feature to have that option, even if we figure out a better alternative (which works with seq of UDDT) it will be simple to migrate code to more efficient / elegant solution later.

[2016-05-19 20:13] smoothdeveloper opened #228 "Can't construct typed DataTable based on SqlCommandProvider"
[code]

I think this should be available, and eventually the table should have all enabled for manual population.

I'm using this because I'm calling a stored procedure (with same output schema) using dynamic sql and UDDT, the stored procedure output has same schema as a specific command, but just to get an instance of such table, I need to go through ugly hoops.

[2016-05-19 20:15] smoothdeveloper opened #229 "Stored procedure or command involving dynamic SQL return int."
I have a stored procedure involving dynamic SQL, the return type is currently unhelpful (`int`).

I'd benefit having a .ExecuteReader, right now I need to get a `SqlCommand` and set the parameters manually (I loose all the type checking).

If we can detect procedures relying on dynamic SQL, we should expose the same features as plain ADO.NET but still keep the checking on parameters.

[2016-05-19 20:35] smoothdeveloper commented on #162
What are the implications if we were to support typed DataTable with generated types?

I'm now using those in favor of records because it is suitable for binding / processing with many tools in .net eco-system, change detection & all.

[2016-06-15 19:32] jon49 opened #231 "Insert Image With Stored Procs Crops Byte Array"
### Description

Inserting image crops byte array. When using stored procedure with `SqlProgrammabilityProvider`.

### Repro steps

1. Create a table with an image:

[code]

2. Create the stored procedure:

[code]

3. Connect SqlProgrammabilityProvider:

[code]

### Expected behavior

I expected the full image to be in the database.

### Actual behavior

 Instead only a small portion of it was sav

[2016-06-15 21:23] dmitry-a-morozov commented on #231
Great to see that you took time to create very well defined issue !
I will look into it ASAP.

[2016-06-22 06:13] dmitry-a-morozov commented on #231
I think the issue caused by out-dated `image` data type.
https://msdn.microsoft.com/en-us/library/ms187993.aspx
Can you switch to `varbinary(max)`?

Run meta-query below to see that max length for `@img` parameter is 16, which is weird.
[code]

[2016-06-22 16:10] jon49 commented on #231
That worked. Thanks for looking at this problem! I wish I would have figured that out myself and not wasted your time. But it is good to know for others now! Thanks again.

[2016-06-22 16:10] #231 closed

[2016-06-22 16:39] dmitry-a-morozov commented on #231
No problem. I'm happy to help.

[2016-06-22 17:08] dmitry-a-morozov commented on #229
Why can't you use ```EXECUTE WITH RESULT SETS``` for that?
http://sqlmag.com/blog/sql-server-2012-t-sql-glance-execute-result-sets

[2016-06-22 18:25] smoothdeveloper commented on #229
@dmitry-a-morozov I can't use `EXECUTE WITH RESULT SETS` because runtime server I support doesn't support that feature; I have a workaround for this for SqlCommand where I strip that part from the SQL code at runtime but doing this with a stored procedure will be tricky (haven't investigated that).

I'm facing several difficulties for which I have less than optimal workaround (losing strong typing

[2016-06-23 14:58] jon49 commented on #123
I think I might have a similar issue to this one.

I add this line of code and it fails with the above error. This line of code looks exactly like 15
other functions I have except it calls a different stored procedure. Not sure if this deserves its
own issue or not. It is called in a separate project that is also F#, but the main project is C#,
but it is never used in the C# project. If I create a

[2016-06-23 16:01] dmitry-a-morozov commented on #224
https://github.com/fsprojects/FSharp.Data.SqlClient/commit/75fdcfe363f0c7101142d95388e7ad22a83d0943
This is coming for you.
This test case
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/75fdcfe363f0c7101142d95388e7ad22a83d0943/src/SqlClient.Tests/TVPTests.fs#L102

So only minor drawback is that you need to cast it to seq<SqlDataRecord>

Implementation heavily complicated by fact that Mon

[2016-06-23 16:02] dmitry-a-morozov commented on #228
How about statically typed ```Clone``` method?

[2016-06-23 16:37] smoothdeveloper commented on #224
Thanks @dmitry-a-morozov, it seems it will be easy to wrap in a custom function to conceal the explicit cast to a single place!

The solution looks great.

[2016-06-23 16:40] smoothdeveloper commented on #228
@dmitry-a-morozov to call a `Clone` you need a first instance available right?

I'm actually trying to get that first empty instance and to do so, right now I need to run a SQL query which returns 0 records with expected schema.

If we expose public constructor, we could as well expose a statically typed `Clone`, I'd be happy to investigate this further if you think the feature is useful.

[2016-06-23 16:43] dmitry-a-morozov commented on #123
Do you use *.sql file as command text?

[2016-06-23 16:48] dmitry-a-morozov commented on #228
I really think that ctor on `SqlCommandProvider` generated data tables is flawed design. But `Clone` is there anyway.
To get empty result set and not screw up command text you can consider to call `set fmtonly on` before first execution. Then set back to `set fmtonly off`

[2016-06-23 17:15] jon49 commented on #123
The `SqlProgrammabilityProvider` is defined as

[code]

I don't use *.sql for any commands for `SqlCommandProvider`. I tried, but couldn't get it to work and figured I would go back later. But the problem only occurs when using `SqlProgrammabilityProvider`.

[2016-06-23 17:17] jon49 commented on #123
This is what I'm using for the sql stored procedure:

[code]

[2016-06-23 17:26] smoothdeveloper commented on #228
Thanks for the hint regarding `set fmtonly`, it seems to me the most straightforward would still be to expose a constructor, this avoids any roundtrip with database and just reuse the information determined at compile time, and it is a single line of code to get the object ready.

[2016-06-24 18:51] #227 closed

[2016-07-11 02:02] dmitry-a-morozov opened #232 "SqlFile type provider"
### Description

There are numerous issues associated with built-in ability to pass *.sql file name as command text to `SqlCommandProvider` and `SqlProgrammabilityProvider.CreateCommand`
See
https://github.com/fsprojects/FSharp.Data.SqlClient/issues/163
https://github.com/fsprojects/FSharp.Data.SqlClient/issues/123

I propose to introduce dedicated `SqlFile` _generative_ type provider that will re

[2016-07-11 23:17] dmitry-a-morozov commented on #229
How about something like:
[code]

[2016-07-12 15:51] dmitry-a-morozov commented on #224
@smoothdeveloper  Do you want me to do nuget release or you build from sources anyway?

[2016-07-12 16:10] smoothdeveloper commented on #224
@dmitry-a-morozov  I'll be updating via nuget whenever it is available but there is no hurry at the moment.

Thanks!

[2016-07-12 16:10] smoothdeveloper commented on #229
@dmitry-a-morozov that looks great, I'll give it a try and close the issue or comment back.

Thanks for looking into this!

[2016-07-12 17:22] #226 closed

[2016-08-08 15:07] isaacabraham opened #233 "Expose ContinueUpdateOnError on strongly typed data tables"
### Description

It is sometimes necessary to perform an insert of records and continue inserting even if one record fails. With the raw DataAdapter you can set the ContinueUpdateOnError property, but this is not exposed by the strongly type data table model. Perhaps adding optional arguments on the Update() call would suffice?

[2016-08-08 15:59] dmitry-a-morozov commented on #233
Sure. I will add this option.
Meanwhile create you own instance of DataAdapter as workaround.

[2016-08-09 12:48] isaacabraham opened #234 "Allow optionally not requiring explicit connection strings"
### Description

In the latest release of SQLClient, behaviour changed so that if you supplied a connection string as the literal (rather than the named config value), all the provided types would request an explicit connection string.

Whilst I understand why this has been done, for us it's a real problem as we use named connection strings but occasional want to test with a real one. The TP shoul

[2016-08-09 13:17] smoothdeveloper commented on #234
The most useful and only needed constructor in my opinion would be `(commandFactory: unit -> SqlCommand)`, it contains all which is needed (connection, eventual transaction and desired timeout) and refrains one to cater connection string literals around.

[2016-08-09 16:42] dmitry-a-morozov commented on #234
@isaacabraham Sorry for troubles. I knew it's going to be painful. :(
Can you elaborate?  What do you mean exactly by "... occasional want to test with a real one ..."
You still can use named connection string at design time but provide literal conn str that read from some sort of configuration at run-time.

[2016-08-10 16:09] isaacabraham commented on #234
@dmitry-a-morozov Hi! In our project code, the TP connection string is the config style one (rather than explicit connection). What we're currently doing is compiling our F# projects, and then referencing the *output DLL* in an F# script (rather than manually referencing all the .fs files).

The problem is that once you do this, the TP looks in fsi.exe.config to resolve the connection string, rath

[2016-08-10 16:21] dmitry-a-morozov commented on #234
I apologize again that I caused troubles. Something at my defense
1) The change was done at request of Jet.com guys. They said it is the biggest source of errors related to the type provider when devs forgot to provide run-time override. But they always use connection string literals at design time.
2) I mentioned breaking change in release notes
3) I tried to improve scripting support for connect

[2016-08-10 16:26] isaacabraham commented on #234
I understand - you don't have to apologise! And yes, it was documented :-) And yes, appreciate your work on the other side - fsx files etc.

Would it be possible to have an argument that's passed in to select the behaviour of the TP? I don't mind if the default is the "new" way - but at least giving us the option of reverting to the old behaviour would be really great.

[2016-08-10 17:31] dmitry-a-morozov commented on #234
Let's tackle this from different perspective.
At run-time it can be detected that code runs under fsi.exe.
Based on that a  command can locate config file using non-standard logic.
There are 2 reasonable options:
 1) Try to load config file from current folder. Keep in mind this will require to execute
[code]
at beginning of each script
 2) Reuse connection string captured from config file at desi

[2016-08-11 07:09] isaacabraham commented on #234
Either of those solutions would work for me - I think I prefer the second as it's probably what one would expect to happen anyway i.e. re-use the captured connection string.

Can you think of any situations where that wouldn't be the expected behaviour?

[2016-08-11 10:20] isaacabraham commented on #233
Yep, that's exactly what we're doing now - just means you need a data adapter and sqlcommandbuilder, and must manually pass in connection string etc..

[2016-08-11 16:50] dmitry-a-morozov commented on #234
I can imagine situation when assembly was compiled somewhere else like CI server and you pull it down from let's say local nuget feed. It might have unexpected connection string value. But this is mostly speculation.
I would certainly prefer to start with 2) because it's most straightforward.

[2016-08-11 17:47] isaacabraham commented on #234
Works for me :)

[2016-08-13 00:42] dmitry-a-morozov commented on #234
Hi,
Please try
https://www.nuget.org/packages/FSharp.Data.SqlClient/1.8.3-beta
It includes fixes for #233 and #234.
Keep in mind breaking change - #232

//cc @smoothdeveloper Please help to test this release.
It includes #224 for you.

[2016-08-18 11:16] isaacabraham commented on #234
All works - great.

I did notice that we seem to now need to reference System.Runtime.Caching though?

[2016-08-19 04:01] xenocons opened #235 "Whats New doc updates"
It appears that http://fsprojects.github.io/FSharp.Data.SqlClient/whatsnew.html lists `DB.CreateCommand` without showing what type DB is (hovering just shows `obj`)

Attempting to create this type using the following, produces an error:

![image](https://cloud.githubusercontent.com/assets/3858449/17798527/3c1572c4-6615-11e6-8723-433ba5b8ca51.png)

Additionally, down at `Access to command and recor

[2016-08-19 04:09] xenocons opened #236 "Configuration and Input documentation"
Under 'SqlProgrammabilityProvider' on http://fsprojects.github.io/FSharp.Data.SqlClient/configuration%20and%20input.html it lists ResolutionFolder as type parameter, however based upon https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/SqlClientProvider.fs#L42 this does not seem to be a parameter, is there something I am missing?

[2016-08-19 05:44] dmitry-a-morozov commented on #234
Good.
yes, it's sub-optimal that a reference to System.Runtime.Caching is required.
I'll fix that.

[2016-08-20 08:52] isaacabraham commented on #234
Seems I may have been wrong - I don't think that this is quite working. I'm getting: -

```System.Collections.Generic.KeyNotFoundException: Cannot find name ... in <connectionStrings> section of config file.```

Not sure why.

[2016-08-20 09:14] isaacabraham commented on #234
It might also be useful to see which file it's trying to reference.

[2016-08-21 22:03] dmitry-a-morozov commented on #234
@isaacabraham I deployed 1.8.3-beta2.
https://www.nuget.org/packages/FSharp.Data.SqlClient/1.8.3-beta2
It doesn't require ref to System.Runtime.Caching

Speaking of https://github.com/fsprojects/FSharp.Data.SqlClient/issues/234#issuecomment-241188093
I cannot replicate this.
So you have _named_ design time connection string defined for ```SqlProgrammabilityProvider``` but at runtime inside FSI it

[2016-08-22 09:47] isaacabraham commented on #234
I'll upgrade to beta2 - maybe that was just in the first beta.
Regarding the other issue - it's still looking in the config file - I'm pretty sure it's reading from the FSI AnyCPU executable config file, as I added the connection string in there and the problem went away.

[2016-08-22 13:30] BackBaySoxFan commented on #234
I see the same issue in 1.8.3-beta2. The app.config connection string value is not retained for use in FSI.  I get a 'KeyNotFoundException'.  Adding the connection string to the' FsiAnyCPU.exe.config' solves the problem, so it is definitely still looking there.

[2016-08-22 16:02] dmitry-a-morozov commented on #234
Fixed.
I forgot to account for process name diff between 32 and 64 bits fsi process.
Try 1.8.3-beta3.

[2016-08-22 16:14] dmitry-a-morozov commented on #234
@isaacabraham
It's unfortunate but after https://github.com/fsprojects/FSharp.Data.SqlClient/issues/195 was fixed
a way connection information passed into ``Update`` and ``BulkCopy`` methods is inconsistent with rest of the library.
Because those methods signatures part of run-time they don't become mandatory even when literal connection string used at run-time.
I still wonder if was worthwhile  t

[2016-08-23 16:58] isaacabraham commented on #234
@dmitry-a-morozov I've just tried 1.8.3-beta3 - still doesn't work I'm afraid :-( It's still looking at the FSI config file.

[2016-08-25 12:52] isaacabraham commented on #234
I take it back - just tried and it **does** work!

[2016-08-25 13:22] isaacabraham commented on #234
Question: which project does it "pull" the connection string from?

1. For example, let's say we have a project A which contains the literal connection string (well, config connection string key) but the actual type provider command is in project B (but pulls the literal string from A). Which config file is used? Project A or B?

2. What if you have Project A that has the literal connection string

[2016-08-25 15:59] dmitry-a-morozov commented on #234
Good questions.
If you use absolute file path (which is rare) then project A config file will be used to capture design time connection string.
In case of relative path project B config file will be used. This is confusing but it mostly because a way erased type providers work.
I strongly suggest avoid pattern when erased type declared in one project but command instance created in another. Puttin

[2016-08-26 16:46] isaacabraham commented on #234
@dmitry-a-morozov last question. Post-build, is there a way to override the connection string that the TP uses? :-) Sometimes after we build after a specific connection string, we want to change this afterwards.

If it's a non-starter, that's fine - but if it's possible, let me know and I'll open a separate issue for that.

[2016-08-27 12:07] xkrt opened #237 "SqlProgrammabilityProvider doesnt works on Mono"
It seems SqlProgrammabilityProvider doesnt works with Mono: https://twitter.com/mitekm/status/758900343358959617

### Related information

* Linux
* ver 1.8.2
* SQL Server 2014 Developer Edition
* Mono 4.4.2
* Monodevelop 5.10

[2016-09-01 16:59] varon commented on #237
Did you find a workaround for this? Any response from the maintainers yet?

[2016-09-01 19:05] dmitry-a-morozov commented on #237
I have no plans to roll-out Mono support myself.
Too much effort because of in-comparability.
But PRs are welcome.

[2016-09-01 19:05] varon commented on #237
Thanks for the answer, so Mono isn't officially supported, then?

[2016-09-01 19:11] dmitry-a-morozov commented on #237
I had this support before for SqlCommandProvider.
It lead to ridiculously complex code like

https://github.com/fsprojects/FSharp.Data.SqlClient/blob/f76e5068c13e87a56eebbc205f19afcc6398fb06/src/SqlClient/SqlClientExtensions.fs#L611

https://github.com/fsprojects/FSharp.Data.SqlClient/blob/f76e5068c13e87a56eebbc205f19afcc6398fb06/src/SqlClient/ISqlCommand.fs#L191

and other complications.

Until M

[2016-09-01 21:52] varon opened #238 "SqlProgrammabilityProvider method documentation"
### Description

Using the NuGet package, there seems to be little documentation on generated type providers.

What is the difference between `AcceptChanges()` and `Update()` on a table?

Why does update have an optional SqlConnection parameter? I presume this is for performance, where you'd want to pool connections used by the programmability provider, but what does it actually do if you don't ex

[2016-09-01 23:08] dmitry-a-morozov commented on #238
I know that docs are far from ideal.
I think you're talking about statically typed data tables.
You can read about it here
http://fsprojects.github.io/FSharp.Data.SqlClient/data%20modification.html.

Statically typed table extend standard ADO.NET data tables.  So method ```AcceptChange``` is inherited. read about it here https://msdn.microsoft.com/en-us/library/system.data.datatable.acceptchanges(

[2016-09-02 05:28] xkrt commented on #237
@dmitry-a-morozov thanks for the answer. It will be good idea to explicitly note in README that "Current Mono not supported".
Any plans to support .NET Core?

[2016-09-02 16:00] dmitry-a-morozov commented on #237
@xkrt Yes, there are plans to support .NET Core. But I'll wait until F# compiler will get decent on .NET Core.
Speaking of Mono, if they will improve their System.Data.SqlClient implementation I will certainly reconsider. They can do it by taking fully managed implementation that shipped with .NET Core.

[2016-09-08 00:42] piers7 opened #239 "Effort to get working on SQL 2008 R2?"
Hi,

I appreciate this is by design. Looking at the code I can see that the reliance on sp_describe_undeclared_parameters would be a problem, but I'm wondering what the worst case would be if I just typed the parameters as 'obj' in that case.

So before I sink a heap of time into this, do you know if there are any other hard limits preventing working against 2008R2 that you know of? Am tossing up

[2016-09-10 02:50] mrinaldi opened #240 "SqlFile crashes Visual Studio"
### Description

Using `SqlFile` and changing the file used by `SqlFile` throw a `NullReferenceException`.
### Repro steps
1. Create a `.sql` file and use `SqlFile` provider.
2. Change the contents of the `.sql` file and saves.
### Expected behavior

No crash
### Actual behavior

Visual Studio crashes with:

[code]
### Known workarounds

Restart Visual Studio.
### Related information
- Operating s

[2016-09-10 03:34] dmitry-a-morozov commented on #239
The type provider relies on both sp_describe_undeclared_parameters and sys.sp_describe_first_result_set. The second meta-stored procedure can be substituted by ```SET  fmtonly```
https://github.com/fsprojects/FSharp.Data.SqlClient/blob/505ecc77471e9607193c4206a71b1abde975face/src/SqlClient/SqlClientExtensions.fs#L569 with lower quality type inference overall.

```sp_describe_undeclared_parameters`

[2016-09-12 16:11] piers7 commented on #239
Sql 2012 was the first version where Microsoft moved from per-socket licencing to per-core licensing. As a  result for a number of companies that I work with the upgrade was going to cost actual money, rather than be just covered by normal enterprise agreements / Software Assurance. As a result Sql 2008 hangs around a bit longer, especially in the absence of a compelling upgrade case (I know, new

[2016-09-28 11:59] Thorium opened #242 "More comparisons to the documentation page"
The page is out-dated:
http://fsprojects.github.io/FSharp.Data.SqlClient/comparison.html

Instead of this history-based "why we started at first place", I would like to
have better comparison of different SQL type-provider data access methods.
Dapper comparison can be there still.

I know it's hard to be objective, everyone may have their favourite tools,
but let's try at least. Each tool has a sl

[2016-10-11 19:42] smoothdeveloper commented on #224
Closing this issue as there is now way to reuse TVP types with raw commands. Thanks!

[2016-10-11 19:42] #224 closed

[2016-10-11 19:46] smoothdeveloper opened #244 "Expose a PrepareRawCommand method on SqlCommand objects"
Due to specifics of return value, I sometimes need to use manually created `System.Data.SqlClient.SqlCommand` objects that I obtain from typed `SqlCommand` objects, I'd like to actually still leverage type checking on input parameters of those.

I'm thinking adding a `PrepareRawCommand` method with parameters matching the `Execute` method and returning the raw command would avoid cases where I nee

[2016-10-17 19:37] smoothdeveloper commented on #240
I confirm that I'm getting crashes when changing the .sql files. Any chance to get a new beta release?

[2016-10-23 12:41] isaacabraham opened #245 "SqlProgrammabilityProvider requires SqlConnection"
### Description

The ``CreateCommand`` on ``SqlProgrammabilityProvider`` is a great idea as it means that we just need a single type for the DB, whether for ad-hoc queries or inserts using datatables etc. However, the arguments required by the ``CreateCommand`` method could be improved: -

### Repro steps
This is the current way that you use the provider: -
[code]

### Expected behavior
This is wh

[2016-10-26 19:18] dsevastianov commented on #240
Sorry, I'm a bit confused. I couldn't reproduce the issue so far with Test solution using ConfigurationTest.fs. Are you getting it in script or regular .fs file?

[2016-10-26 19:26] smoothdeveloper commented on #240
@dsevastianov I reproduce it with .fs file in a project, I'm using literal connection strings:

[code]

when I change that `check.database.exists.sql` file, VS crashes:

![image](https://cloud.githubusercontent.com/assets/87944/19741882/5c552ce0-9b77-11e6-800c-0dc7c1304455.png)

[2016-10-26 21:40] mrinaldi commented on #240
I'm getting this after editing the `.sql` file.

[2016-10-28 14:34] dsevastianov commented on #240
Please excuse my ignorance but what's
[code]
?

I can't compile this code in Test solution. To the best of my knowledge const is a keyword reserved for future use in F# up to 4.0, am I missing something?

[2016-11-07 13:23] vasily-kirichenko opened #246 "SqlProgrammabilityProvider generates wrong `Execute` method if SP has default to null output parameter"
[code]
[code]
Several issues here:
1. `ExecuteAsync` is not generated at all
2. It does not compile:

Parameter name: receivedType

`Execute` has the following signature:
![image](https://cloud.githubusercontent.com/assets/873919/20059263/622139aa-a506-11e6-9c4d-6b1be2f6c170.png)

[2016-11-07 14:18] vasily-kirichenko commented on #246
With this change https://github.com/fsprojects/FSharp.Data.SqlClient/pull/247 the signature now looks OK:
![image](https://cloud.githubusercontent.com/assets/873919/20060833/19685772-a50e-11e6-8b20-7cf785f07a7a.png)

But I get a different error:
[code]

[2016-11-08 19:24] dsevastianov commented on #246
Yes, it won't work because DateTime is not integral type, [here](http://stackoverflow.com/questions/29516179/f-type-provider-referencing-custom-types)'s the explanation. There's no easy fix for this I'm afraid. Originally, we decided not to pay too much attention to output parameters as it's hard to find valid cases for using them extensively in stored procedures to start with.

[2016-11-08 19:34] dsevastianov commented on #245
Hey Isaac, I don't think that's how it works. [Here ](https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/CreateCommand.fs) are the tests for CreateCommand, they don't require explicit runtime connection.

[2016-11-08 19:44] dsevastianov commented on #244
Can you please elaborate a bit on the specifics of return value. There are known limitations, e.g. [#246](https://github.com/fsprojects/FSharp.Data.SqlClient/issues/246), if demand for this functionality is high we can have closer look on those.
The idea by itself looks viable on the first glance. I would like to understand usecase better first though.

[2016-11-08 19:54] dsevastianov commented on #242
Thanks for looking into this, you make a lot of valid points.
I might argue about some of them though, for example - Doesn't generate domain model for work with C#. We got to this type provider after quite a few projects using ORMs and it is my strong believe that domain OO model cannot be generically generated from relational database. Impedance mismatch is too high, it tends to create more probl

[2016-11-08 19:56] smoothdeveloper commented on #244
Instead of this:
[code]

I'd like to be able to do this:

[code]

This allow me to leverage type checking on the input parameters while still handling the execution of the command myself.

One reason is that some command return type will be `unit` unless I specify `with result sets` (which I can't use since I have to support SQL 2008).

[2016-11-08 20:02] dsevastianov commented on #239
Microsoft doesn't provide mainstream support for 2008 since 2014 and it will stop extended support in 2019. While we understand your pain it is significant effort for us, and we risk to downgrade experience for higher versions as a result.

[2016-11-08 20:05] smoothdeveloper commented on #239
@piers7 the runtime support for SQL2008 (2005 even) is there, only you have to work at design time with a more recent version.

[2016-11-08 20:08] smoothdeveloper commented on #229
Closing this in benefit of #244 and #228 which would help me in this situation.

Thanks for feedback @dmitry-a-morozov

[2016-11-08 20:08] #229 closed

[2016-11-08 20:25] dsevastianov commented on #244
It looks reasonable. Unless @dmitry-a-morozov has other concerns I think such addition can be valuable to address corner cases like support for 2008. We'll consider implementation, thanks for working on this!

[2016-11-08 20:30] dsevastianov commented on #236
Good point, it is sourced from TypeProviderConfig now, we have to update documentation.

[2016-11-08 20:33] dsevastianov commented on #234
Well I guess that's where explicit connection strings become handy again. :)

[2016-11-08 20:34] dsevastianov commented on #233
Released in 1.8.3, closing

[2016-11-08 20:34] #233 closed

[2016-11-08 20:47] Thorium commented on #242
That is fair, and I agree with that topic. ORM generation to C# isn't good idea in general (and I would recommend to avoid C# as default language), but it is still a reason for some people to select some technology.

Right now F# itself has a lot of different data access technologies and people are not sure what to choose. This page comes first when I search Google on "f# data access comparison" a

[2016-11-08 21:21] dsevastianov commented on #242
I see your point, I'll proceed with the change, thanks for your contribution!

[2016-11-08 22:00] dsevastianov commented on #242
Released with some minor changes

[2016-11-08 22:00] #242 closed

[2016-11-08 22:09] dsevastianov commented on #79
@LessIsMore1 looks like it was fixed, are you still experiencing this?

[2016-11-09 08:39] isaacabraham commented on #245
@dsevastianov I believe that's only valid if you use a config-based connection string. I'm using a literal connection string within a script, which requires a valid, already-opened SQL Connection. Ironically, using this provided method would be by far the quickest and easier way of getting to SQL data in a script - yet isn't possible because scripts don't play well with configuration files, and us

[2016-11-09 15:59] dsevastianov commented on #245
Ah, I see, this definitely looks like a bug.

[2016-11-09 20:22] dsevastianov commented on #245
Way to reproduce:

![image](https://cloud.githubusercontent.com/assets/1394758/20153330/3e9b8c52-a690-11e6-86a3-c873775b7145.png)

[2016-11-09 20:27] isaacabraham commented on #245
I'm not sure if this is a bug or "by design" - with other parts of the TP, there was a decision made to have different behaviour in terms of type generation depending on whether the connection string was sourced from config or via literals. Personally I would prefer to revert that decision.

[2016-11-09 20:53] dsevastianov commented on #245
That decision notwithstanding, I don't think it currently works as expected. In this snapshot I tried mixing Programmability declarations with config and literal connection. Once I try to call CreateCommand for literal case it assumes same signature for config case.
This is somewhat convoluted example, but I think it demonstrates that making method signature dependent on particular type definition

[2016-11-23 01:26] smoothdeveloper commented on #240
@dsevastianov `const` is required when constructing a literal as arguments of a type provider instantiation, you can see how it is used to work around a compiler limitation: https://github.com/Microsoft/visualfsharp/issues/1265#issuecomment-229062913

Your code is equivalent as mine, I used `const` to avoid defining more symbols than needed.

[2016-12-06 20:41] #182 closed

[2016-12-06 20:47] dsevastianov commented on #240
I see, thanks, I still can't reproduce this though. If Pr would include actual test for this that would be ideal.

[2016-12-14 10:37] smoothdeveloper commented on #240
@dsevastianov can you try having the .fs file open in VS where the sql command is actually in use?

[2016-12-14 11:05] smoothdeveloper commented on #240
@dsevastianov I've opened an issue in visualfsharp repository because I think they might want to prevent such crash to happen in any case https://github.com/Microsoft/visualfsharp/issues/2008

There are detailled reproduce steps in the issue with a sample project.

[2016-12-22 04:01] jackmott opened #249 "Feasability of PostgresSql support?"
### Description

I know that this TP depends on two stored procs built into SQL Server that provide the necessary meta data. I'm wondering if it would be possible to write similar stored procs for PostgresSql, such that you could use this type provider with it, provided you first apply the stored procs.  I'd be potentially interested in making the effort if it is at all feasible.

[2016-12-22 21:12] dsevastianov commented on #249
It might be interesting to look into, I don't know enough about Postgres to judge on feasibility though.

[2016-12-29 16:09] #240 closed

[2016-12-30 05:03] jackmott opened #251 "Question on UPDATE"
I've got an update query:

[code]
DiscoveredBy expects an int, but that column in the DB can have nulls. Do I have to use SQLCommandProvider and set allparametersoptional?

Is there a way to do this with Statically-typed DataTables? Without making two round trips to the database?

[2016-12-30 10:56] smoothdeveloper commented on #251
@jackmott could you check if passing `AllParametersOptional` in static parameters works in that context?

[code]

[2016-12-30 11:01] smoothdeveloper commented on #251
For batch update, you could look into:

* Table Valued Parameters (TVP) that you have to define in the database and are exposed by the type provider, but you need a stored procedure to use them in SQL side
* Statically-typed DataTable that you can use with dataadapter (for custom SQL) or plain `Update`  calls http://fsprojects.github.io/FSharp.Data.SqlClient/data%20modification.html
* bulk insert

[2017-01-06 22:29] Overlord-Zurg opened #252 "Add factory method to SqlProgrammabilityProvider"
### Description

When creating a type with `SqlCommandProvider<>`, a static `Create` method is created as a wrapper for the constructor (and with the same arguments). No factory method is created for the types generated by `SqlProgrammabilityProvider<>`.

Statically resolved type parameters can refer to static methods, but not non-parameterless constructors, so there is no way to wrap the creation

[2017-01-10 11:30] kerams opened #254 "Cannot call an SP with an output parameter of type timestamp"
### Description

Code that calls an SP with an output parameter of type `timestamp` using `SqlProgrammabilityProvider` does not compile.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create the SP
[code]

2. Call the SP
[code]

### Expected behavior

Code compiles and `Execute` returns the result set as well as the output parameter.

### Actual behavior

Compilat

[2017-01-10 13:14] smoothdeveloper commented on #254
@kerams, if you like to have a look at this issue, you can start looking at `DesignTime.GetOutputTypes` https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/DesignTime.fs#L239

[2017-01-10 15:13] kerams commented on #254
Thanks for the pointer. I have identified the issue and I also seem to have a working fix.

[2017-01-10 21:19] kerams commented on #254
I'm getting compilation errors in the test solution on lines like `type AdventureWorks = SqlProgrammabilityProvider<ConnectionStrings.AdventureWorksNamed, UseReturnValue = true>`. Besides that, how is https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.Tests/SpReturnValueTests.fs#L10 even supposed to work? I don't see a parameterless constructor for sprocs...

[2017-01-10 22:00] smoothdeveloper commented on #254
@kerams, somehow that file seems to compile fine in my working copy, can you check app.config is pointing to correct connection strings?

The constructor without parameter will use the design time configuration, in this case what is under connectionStrings element in app.config, I think this is now only available for named connection strings.

What is the compile error you are getting?

[2017-01-11 08:08] kerams commented on #254
In `SpReturnValueTests.fs`:
[code]

It works when I remove `UseReturnValue = true`, but then it complains about the aforementioned parameterless constructors.

[2017-01-11 14:26] kerams commented on #254
Never mind, I was the problem ;). Thanks again, I've submitted the PR.

[2017-01-13 19:37] ntr commented on #249
Something that can be potentially helpful:
https://www.postgresql.org/docs/current/static/libpq-exec.html#LIBPQ-EXEC-SELECT-INFO

[2017-01-14 00:48] smoothdeveloper commented on #249
@ntr, what is still missing is identifying the parameter names and types.

[2017-01-14 01:09] ntr commented on #249
@smoothdeveloper, check PQparamtype - it

[2017-01-14 06:57] smoothdeveloper commented on #249
@ntr, I see and it looks about right. I think best way to experiment with this is to create a small fsx showcasing how it works.

[2017-01-16 22:24] #254 closed

[2017-01-16 22:30] dsevastianov commented on #254
Thank you @kerams, good find.

[2017-01-20 09:52] davidtme commented on #194
I would love to see this go in just because we use a build server that can't access a database so it's a bit of a show stopper.

[2017-02-02 12:59] davidtme opened #257 "SqlProgrammabilityProvider ResultType"
### Description

The SqlProgrammabilityProvider intellisense lists

[code]

However this is missing as a parameter.

### Related information

* v1.8.2

[2017-02-02 13:16] smoothdeveloper commented on #257
@davidtme thanks for the report, consider contributing a fix at https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/SqlClientProvider.fs#L57

[2017-02-02 13:19] davidtme commented on #257
Thanks for the info @smoothdeveloper but I was hoping to use the User-Defined Table Types as records.

[2017-02-02 13:38] smoothdeveloper commented on #257
@davidtme, sorry missed your point, maybe you can look at this then: https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/SqlClientProvider.fs#L125

the feature should be doable (applies to all commands generated) and relatively easy to write tests for.

[2017-02-02 16:07] davidtme commented on #257
@smoothdeveloper I've had a look and I think it's a bit beyond me at the moment, I've not done any type provider coding yet.

[2017-02-02 16:11] smoothdeveloper commented on #257
If you want this to be implemented, could you rename the issue to something more descriptive and consider posting accurate sample of the feature in use?

[2017-02-02 17:03] davidtme opened #258 "SqlProgrammabilityProvider with Record based User-Defined Table Types"
Currently the User-Defined Table Types are classes. Could a config option be added to allow them to be records.

Sql Setup:
[code]

Test Script:
[code]

However it would be great if the last line could be used as so (maybe with a config?):

[code]

[2017-02-02 17:03] davidtme commented on #257
See https://github.com/fsprojects/FSharp.Data.SqlClient/issues/258

[2017-02-02 17:03] #257 closed

[2017-02-02 17:12] smoothdeveloper commented on #258
@davidtme that would be nice, alas I think I think type providers don't allow yet to generate record types or other things relying on more advanced F# type system features (unless it is just an attribute).

I might be wrong and hopefully someone else will confirm or say what can be done.

In the meantime, can you check if you can specify argument names, which is probably can be fixed if it isn't t

[2017-02-02 17:15] smoothdeveloper commented on #258
Consider voting on https://github.com/fsharp/fslang-suggestions/issues/154 to have type provider support emitting record types and DUs.

[2017-02-02 18:38] davidtme commented on #258
Voted.  Shame about the TP and records. I may look at https://github.com/fsprojects/SQLProvider/blob/62d7f0dc700fdbfa1bd4d788c0e6c4801f8e27a5/src/SQLProvider/SqlRuntime.Common.fs#L218 for some ideas.

[2017-02-05 23:30] johnberzy-bazinga commented on #249
I've taken a brief look at this in the context of the NpgSql driver. It's possible with NpgSql to execute a describe command by passing` CommandBehavior.SchemaOnly`. That should do the trick for output column types.

For input parameter types, it's possible to executing a prepared statement followed by reading the `parameter_types` column in the `pg_catalog.pg_prepared_statements` table for the ne

[2017-02-08 02:25] ntr opened #259 "Build.cmd fails on Windows"
### Description

Build cmd fails to download packages on windows. I am getting lots of errors about missing nuget packages:

Unable to find version '0.0.36' of package 'FSharp.Compiler.Service'.

### Repro steps

Run build.cmd

### Expected behavior

Build runs successfully.

### Actual behavior

Build fails with missing error packages.

### Known workarounds

Please provide a description of any k

[2017-02-08 02:32] ntr commented on #259
Turns out some packages are missing from v2 nuget feed.

[2017-02-09 16:44] dsevastianov commented on #259
Merged, thanks!

[2017-02-09 16:44] #259 closed

[2017-02-10 01:16] smoothdeveloper commented on #257
@davidtme FYI I've opened PR #261 with intent to enable specifying ResultType on SqlProgrammabilityProvider.

I'm looking for input (within scope of what ResultType means in other areas of the library) to get it working for various usecases, if you have a chance to give it a look that would be helpful.

[2017-02-21 16:33] 0x53A opened #262 "DesignTime: null-reference exception after a short time"
I successfully built my project:
![image](https://cloud.githubusercontent.com/assets/4236651/23173900/fa5302ba-f85a-11e6-9266-962c3cae97a7.png)

after a short period, the first usage of the SqlCommandProvider gets errors at design time (without any code changes).
![image](https://cloud.githubusercontent.com/assets/4236651/23173891/f39048d4-f85a-11e6-9ee8-6e4b93955d17.png)

Subsequent builds also p

[2017-02-21 16:36] 0x53A commented on #262
I restart of VS fixed the issue for now, but is there a way to get callstacks for such failures?

[2017-02-21 17:05] smoothdeveloper commented on #262
@0x53A I believe fsc.exe would only report Exception.Message on such failure, the way to get the callstack would be to catch the exception and make another one with the Message containing the inner exception.ToString().

The other thing worth considering is opening an issue on visualfsharp repository to make that such errors, for any type provider, would print the whole stacktrace.

[2017-02-21 17:08] smoothdeveloper commented on #262
I believe this is the location in compiler handling that error:

https://github.com/Microsoft/visualfsharp/blob/a2bb40f7017de0bb43a79823edaf0c9abce431c6/src/fsharp/tainted.fs#L64

[2017-02-21 17:11] 0x53A opened #263 "[Feature Request] Table-Valued-Parameters for raw sql"
This issue (https://github.com/fsprojects/FSharp.Data.SqlClient/issues/23) and pr (https://github.com/fsprojects/FSharp.Data.SqlClient/pull/24) add the ability to provide custom table valued parameters to stored procedures / funcs.

Would it be possible to lift this limitation and also enable this for raw sql?

I would like to be able to write something like

``select * from myTable join @tvp ids

[2017-02-21 17:54] smoothdeveloper commented on #263
@0x53A I might be overlooking something but I think I had need but this doesn't seem to be possible due to limitation in `sys.sp_describe_undeclared_parameters` IIRC.

Can you run `sys.sp_describe_undeclared_parameters` on your statement and have it infer the correct TVP type?

[2017-02-21 18:32] 0x53A commented on #263
It can't infer the TVP type automagically.
Any type which has the correct column (e.g. a column of type int with name Id) could be used.

So for this to be possible
a) the TP would need to detect that ``@tvp`` referes to a table variable
b) the user needs to declare the actual type of the variable somewhere
c) when sending the request to the server, the tp would need to dummy-declare the table var

[2017-02-21 18:43] smoothdeveloper commented on #263
@0x53A I've tried applying the same convention I use to make sure parameter order remains consistent as well as circumventing the limitation of using one parameter only once:

[code]

But AFAIR, using a TVP in lieu of `sometype` would not work and it was due to `sys.sp_describe_undeclared_parameters` so there wasn't much that could be done.

[2017-02-21 19:39] 0x53A commented on #263
Your trick compiles for me:

![image](https://cloud.githubusercontent.com/assets/4236651/23181435/4c9b4bee-f875-11e6-9889-b5b0138b0502.png)

Executing
[code]

returns

`1	@val	243	NULL	8	0	0	266	TIM2017-cad-tim	dbo	TVP_IDs	NULL	NULL	NULL	NULL	NULL	0	0	0	1	0	NULL	243	8`

with the type
![image](https://cloud.githubusercontent.com/assets/4236651/23181516/89546ab6-f875-11e6-93da-74cede58eae4.png)

Thi

[2017-02-22 15:18] isaacabraham opened #264 "Improve error if SQL Types dependency is missing"
If your database uses Geography types, the SQL Programmability Provider won't build unless your project references the Microsoft.SqlServer.Types package. The error is pretty spurious (just that it can't find the type) but there's no way to know why this is. It took me a while to realise it's because I added a Geography column to the DB.

Perhaps a better error message would help.

[2017-02-22 15:57] smoothdeveloper commented on #264
@isaacabraham if you have a chance to debug this, the defintion seems to be https://github.com/fsprojects/FSharp.Data.SqlClient/blob/505ecc77471e9607193c4206a71b1abde975face/src/SqlClient/SqlClientExtensions.fs#L269 and we'd need to track down the place the type is actually loaded by the type provider.

Can you post a screenshot with actual behaviour?

[2017-02-22 17:13] isaacabraham commented on #264
![image](https://cloud.githubusercontent.com/assets/1781813/23223133/75dc010a-f92a-11e6-8827-eb7e16e99429.png)

Once I add ```nuget Microsoft.SqlServer.Types 10.50.1600.1``` to the Paket dependencies file, life is good.

Note that it *must* be that specific version, otherwise you pull down a newer version and get a binding redirect issue at runtime.

[2017-02-24 09:34] isaacabraham commented on #264
I think the best solution might actually be to include the Microsoft.SqlServer.Types NuGet package as a dependency. I had to use the newer version (13.0.0.0) to work with latest Sql Server, so had to manually create a binding redirect for it. Paket couldn't know to add it because it's a "silent" dependency on the type provider.

[2017-02-28 12:34] smoothdeveloper opened #265 "Needs an AllParametersOptional on SqlProgrammabilityProvider or?"
I'm trying to call a stored procedure but many parameters should allow null.

I think a top level `AllParameterOptionals` parameter could be a good short term solution.

Longer term, I'd like the library to not hardcode so many parameters at the top level, but closer to usage level as method static parameters (supported since F# 4) to Execute/ExecuteAsync:

* ResultType
* AllParametersOptional

It

[2017-03-01 13:56] smoothdeveloper commented on #245
It seems to me it should work:
* with passing a connection (and will open it if needed, but won't dispose it in anycase)
* without passing a connnection (will create and dispose after done with statement)

If having it work without connection is a problem for codebase which want to avoid mistake of using design time connection, we can simply add a parameter to the type provider: `PrecludeUsageOfDe

[2017-03-07 04:42] rkosafo opened #266 "Error working with TVP when the table is empty"
### Description

When working with a stored procedure that uses TVP, I encountered a scenario where the table is blank. Executing the command with an empty sequence for the TVP gives the error

    An exception of type 'System.ArgumentException' occurred in System.Data.dll but was not handled in user code

    Additional information: There are no records in the SqlDataRecord enumeration. To send a

[2017-03-16 09:10] 0x53A commented on #263
So, the trick compiled ......... - but failed at runtime. The error was something like ```missing scalar parameter @val```.

I was able to workaround it with a dummy function:

[code]

and calling it like this

[code]

This way, the sql server is able to deduce the type of ```@tvp```.

I would still like a way to pass a table valued parameter without the dummy function, but no idea how this could

[2017-03-17 16:49] davidtme commented on #263
@0x53A I’ve come up with a bit of a hack:

[code]

This allow me to use `DECLARE @Source dbo.MyType = @Items`, which the parser likes but I can fix the query before it runs

[code]

[2017-03-17 17:12] davidtme commented on #263
@smoothdeveloper I see there is a `RewriteSqlStatementToEnableMoreThanOneParameterDeclaration` I wonder if the same could be do which looks for
[code]
at design time and alters the query before sending it to `sp_describe_undeclared_parameters` to something like the following?

[code]

[2017-03-17 17:21] smoothdeveloper commented on #263
@davidtme the only way I've seen to alter the command for runtime versus design is the way you did (cast to `ISqlCommand`).

I have such hack to have "with result sets" design time support but stripped at runtime to run on SQL 2008.

[2017-03-17 17:22] smoothdeveloper commented on #263
Those hacks should not make it to the library, but we should somehow give some love to the documentation and samples to help advanced users to use the many techniques that are only documented in issues / discussions.

[2017-04-07 07:42] parmigianig opened #267 "Sql Errors not bubbling up - System.TypeInitializationException"
### Description

When executing two delete statements in the wrong order,
e.g. violating the foreing key constraint, so for example, deleting headers table before rows table,
the type provider does not bubble up the sql exception at runtime,
but gives instead a type initialization exception which does not allow to properly track the issue,
without executing the command separately.

### Repro steps

[2017-04-07 07:44] parmigianig commented on #267
reopened as another user

[2017-04-07 07:44] #267 closed

[2017-04-07 07:44] jkone27 opened #268 "Sql Errors not bubbling up - System.TypeInitializationException"
### Description

When executing two delete statements in the wrong order,
e.g. violating the foreing key constraint, so for example, deleting headers table before rows table,
the type provider does not bubble up the sql exception at runtime,
but gives instead a type initialization exception which does not allow to properly track the issue,
without executing the command separately.

### Repro steps

[2017-04-10 13:50] dsevastianov commented on #268
Is 2008 for execution required to repro the issue?

[2017-05-23 02:16] panesofglass opened #270 "Target .NET Core 2.0"
### Description

Provide an updated package that supports .NET Core 2.0. This is not yet ready but getting closer. See https://github.com/Microsoft/visualfsharp/issues/3069. I'm happy to help contribute to this.

Note that support for .NET Core means reverting `SqlEnumProvider` to an erasing provider, or cutting this from the .NET Core version, as generative providers will not be supported. What s

[2017-06-21 03:28] jackfoxy opened #271 "SqlProgrammability Provider problem with no parameter function"
### Description

SqlClient 1.8.1

ProgrammabilityProvider says Record type is missing for dbo function that takes no parameter (), and returns rows of 2 columns, nvarchar and datetime

### Repro steps

see description

### Expected behavior

should compile

### Actual behavior

compile-time record type is missing for dbo.function(), no errors at design time

### Known workarounds

Use command prov

[2017-06-22 21:27] ntr opened #272 "SqlProgrammability provider fails to update/bulk copy into tables with computed persistent columns"
### Description

SqlProgrammability provider fails to update/bulk copy into tables with computed persistent columns - you get exception when you call update method:
```System.Data.NoNullAllowedException: Column '{persistentColumn}' does not allow nulls.```

### Repro steps

Please provide the steps required to reproduce the problem

1. Create table:
[code]

2. Step B

[code]

### Expected behavior

[2017-06-23 13:39] 0x53A commented on #263
If possible, I would really like to enable working with table-valued parameters in a sane way.

What would you think about adding a new type-provider parameter ``TVP_Mapping``? There you would map parameters to types.

Usage:

[code]

The sql statement as written would produce an error, so the type provider would need to prepend a dummy declaration at design-time.

Example:

[code]

[2017-06-24 00:03] NaomiN commented on #266
I am having the same issue after I switched to SqlDataReader from DataTables.

[2017-06-28 14:41] dsevastianov commented on #270
It sounds feasible, though it would be great if other users of `SqlEnumProvider` chimed in, especially those calling generated types from other .Net languages. Jet.com should be fine with this change. I would rather make this change across the board and not fork for specific target.

[2017-06-29 22:32] panesofglass commented on #270
At Tachyus, we use `SqlEnumProvider` to generate something like:

[code]

We don't have any use of generating true enumerations, handy as that is. I'm also not aware of any requirements for the `[<Literal>]` attribute, e.g. as values in an attribute, though that is also a very handy feature.

[2017-06-30 13:48] dsevastianov commented on #270
I believe @dmitry-a-morozov implemented this mostly for C# compatibility, and I am not aware of any usages of this feature in the wild. I am fine with the switch.

[2017-07-29 22:58] giuliohome opened #273 "SQLite and SqlEnumProvider"
### Description

I'm trying to connect to SQLite ADO.NET provider

### Repro steps

Here it is the repro

1. Visual Studio 2016 .Net 462 a new F# console project

2. Install FSharp.Data.SqlClient from nuget

3. Add Reference System.Data.SQLite.dll

4. Try to code the following lines (assuming a DBTest sqlite version 3 is already available)

[code]

### Expected behavior

I would expect to be able

[2017-07-30 12:49] giuliohome commented on #273
Bttw I could make it work with `"System.Data.Odbc"` and Sybase ASE Ado.Net

[2017-07-30 13:47] giuliohome commented on #273
I have also an additional question: how can I see the sql executed on the DB ?
Imagine the following code
[code]
is a where clause passed to the SQL? Where can I read or log the actual, generated SQL?

[2017-07-31 13:17] dsevastianov commented on #273
1. For this to work, SQLite has to be accessible in Design time, which means that you'll need to change `app.config` for Visual Studio somehow
2. As for additional question - `where` clause is not passed to SQL, `Items` field is `IEnumerable`, not `IQueryable`.

[2017-07-31 15:13] giuliohome commented on #273
@dsevastianov  the 2 point - where clause is not passed to SQL - is clear, I also traced the db connection to double check, so sorry for the trivial question, forget it.

The first point - **SQLite** accessible  -  is what _I'm really struggling to achieve_!
I've changed the app.config as I've written in [my first post above](https://github.com/fsprojects/FSharp.Data.SqlClient/issues/273#issue-246

[2017-09-04 05:21] btrepp commented on #194
It would be super neat if this was even instead of the normal connection. Perhaps using the dmblfiletype provider as inspiration?

[2017-09-10 07:35] lessismore1 commented on #79
@dsevastianov it is fixed! Sorry for the VERY late reply :)

[2017-09-21 15:39] Kurren123 opened #274 "How to split up a query with joins?"
Something like this:
[code]

Will return the data denormalised. Whats the easiest way to have the results as a list of `Customer` records each containing a list of `Order` records?

[2017-09-22 07:08] ntr commented on #274
SqlClient keeps table semantics for returned objects, the easiest way would be take denormalized table and map it to the objects in application code.

[2017-09-22 07:40] #274 closed

[2017-09-22 07:40] Kurren123 commented on #274
@ntr  Thanks!

[2017-09-24 15:18] isaacabraham opened #275 "Issues with F#4.1 / VS2017"
I'm not sure if this is still an issue, but as far as I'm aware it is. We have an F#4.0 solution that does not build on VS2017 against the F#4.1 compiler. I believe this is linked to https://github.com/Microsoft/visualfsharp/issues/2399 - essentially it involves some change to the TP to get it to work.

[2017-10-16 12:34] isaacabraham commented on #245
@dmitry-a-morozov do you know if there was any progress on this - is this an F# blocker or something that can be done without a dependency on changes to F# 4.1?

[2017-10-16 17:57] dmitry-a-morozov commented on #245
@isaacabraham I have no idea.
Luckily I'm back to F# but busy starting at new job.
Sql Server is currently is not my priority but I see what I can do.
Is it urgent?

[2017-10-16 18:21] isaacabraham commented on #245
Oh not critical. It was more that this was related to the discussion on Twitter regarding type providers the other day.

Having said that this is IMHO a real value add feature as it makes the provider even easier to use, especially from scripts. If one of us get a chance to look at this we will, but it won't be anytime this month.

[2017-11-02 17:40] paul-spoon-olo opened #276 "Question about type provider: Why does this query result in string option and not just string?"
### Description

When passing a query into SqlCommandProvider that I expect a `string `from, I am instead getting `string option`

### Repro steps

Say you have the following SQL tables:

"Coupon"
- "Coupon_PK" primary key integer not null auto incrementing

"CouponCode"
- "Coupon_FK" foreign key to "Coupon.Coupon_PK" integer not null
- "Code" nvarchar(50) **not null**

And you want to select a li

[2017-11-02 17:55] dmitry-a-morozov commented on #276
Any aggregation function always yields null-able value.
That's how it's defined in T-SQL
If you think carefully in .NET and F# it should be defined also as
[code]
Because when it defined as
[code]
it becomes partial function and can throw exception and input is empty.
Dig into T-SQL if you want deeper understanding.

[2017-11-03 14:55] paul-spoon-olo commented on #276
Thanks for the explanation @dmitry-a-morozov I'll go ahead and close this!

[2017-11-03 14:55] #276 closed

[2017-11-03 19:17] dmitry-a-morozov commented on #276
I'm glad that my explanation was helpful.
Maybe to expand a bit see snippet below
[code]
Uncomment ```where``` clause and you'' still get one row but with NULL-valued column

[2017-11-16 09:56] davidtme opened #277 "Temp Tables"
I have an idea to get temp tables working but I’ll like to just check this would be a valid addition and not too hacky.

I would like to add an extra parameter on the type provider call something like TempTableDefinition

[code]

The command and temp table create text would need to be rewritten in the design phase to a Global Temporary table (ie ##Temp) then before executing `sp_describe_undeclare

[2017-11-16 16:05] dmitry-a-morozov commented on #277
@davidtme Overall temp tables are better off to be avoided in T-SQL coding.
At same time I understand sometimes it's required for performance optimization.
I would suggest following workarounds:
1. Re-write query to avoid temp tables
2. Extract code into stored procedure or function
3. Use raw ADO.NET

I think library should discourage bad patterns in same way F# for example discourages mutability

[2017-11-16 16:48] davidtme commented on #277
@dmitry-a-morozov I’m creating a database sync project and a part of that is loading data (few million rows) from one database (B) to another database (A) which will then be using in a purge, change check and extract .

Database A has a fixed schema so I can’t add a table variable, stored procedures or function.

I'm using table variable / stored procedures in Database B which I can control.

At t

[2017-11-16 17:13] davidtme commented on #277
Hi @smoothdeveloper thanks for the comment but I’m not sure I quite follow the non-running query / container table - Is this something that can be done now?

[2017-11-16 17:31] smoothdeveloper commented on #277
@davidtme I've touched on the issue in #228 regarding exposing constructor to datatable, the potential implementation in the library involves defining the columns while current mechanisms rely on ADO.NET to set the table schema at runtime.

The usage of such solution would be:

[code]

[2017-11-16 17:46] dmitry-a-morozov commented on #277
@davidtme Can you create normal table instead of temp in Database B and drop it later?

[2017-11-17 09:40] davidtme commented on #277
@dmitry-a-morozov It’s a nice idea but the normal table would have to live in database B at design time so I could use it (moving into the realms of dev/prod behaving differently).  Also my extract part runs a few processes in parallel using different connections with different temp tables.  One other thing if anything goes wrong the real table wouldn’t be deleted but temp table are thrown away wh

[2017-11-27 18:47] smoothdeveloper commented on #271
@jackfoxy could you share the definition of such function so it can be added to the test suite?

Thanks.

[2017-11-27 19:06] o1lo01ol1o commented on #265
1+ for method static params, wrapping sprocs will nullable params in inline command texts isn't a satisfying solution.

[2017-12-01 16:54] jackfoxy commented on #271
@smoothdeveloper

[code]

[2017-12-02 03:06] smoothdeveloper commented on #271
@jackfoxy thanks, I've tried adding a test:

[code]

The test is passing, and I get autocompletion in ionide on the results; I'm not sure what is the issue or if it is still there.

Do you still have the issue as of today?

[2017-12-02 15:34] jackfoxy commented on #271
Honestly, I reported this problem after finding it at work and solved my immediate problem by not using the TP. I don't remember where the problem was, so I can't say for sure that it is fixed either...

I just realized, this probably does not adequately test the issue. You need to change the select statement

````SELECT N'test' AS col1, GETDATE() AS col2````

to actually select 2 columns from you

[2017-12-13 19:12] AlexAtNet opened #279 "On windows with dotnet core SqlClient reports type 'SqlCommand' unavailable"
### Description

FSharp.Data.SqlClient on windows with dotnet core reports type 'SqlCommand' unavailable.

### Repro steps

I'm trying to use FSharp.Data.SqlClient on Windows

    c:\...> dotnet new console -lang f# -o test5
    c:\...> cd test5

Now add `<Import Project="fsc.props" />` to `test5.fsproj` and add `fsc.props` from `https://raw.githubusercontent.com/fsprojects/FSharp.TypeProviders.SD

[2017-12-13 19:21] dmitry-a-morozov commented on #279
The project is not ported to NET Core.

[2017-12-27 20:24] smoothdeveloper commented on #272
I've added a test case for this issue in a branch:

https://github.com/smoothdeveloper/FSharp.Data.SqlClient/tree/issue_bulkcopy_computed_columns